﻿@model SP.Data.Models.StudentListView
@using SP.Web.Infrastructure.Layout;
@using SP.Data;
@{
    ViewBag.Title = "Student Details";
    ViewBag.Description = "Details of Student's";
    ViewBag.Icon = "fa fa-user-times";
    Layout = LayoutIStruct._AdminPanelLayout;
}

<div class="container-fluid row">

    <div class="col-md-4">
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="card-header widget-user-header bg-info text-center">
                <div class="widget-user-image ">
                    @{
                        System_Web_UI_WebControls_Imager ss = new System_Web_UI_WebControls_Imager();
                        if (Model.Photo.ISValidObject())
                        {
                            string imageSrc = ss.byteArrayToWebImage((Model.Photo)).ImageUrl;
                            <img src="@imageSrc" class="img-circle elevation-2" style="height:80px;width:80px" />
                        }
                    }
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username"> @Html.DisplayFor(model => model.StudentName)</h3>
                <h5 class="widget-user-desc"> @Html.DisplayFor(model => model.DOB)</h5>
            </div>

            <div class="card-body p-0">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            @Html.DisplayNameFor(model => model.AdmissionNo) <span class="float-right badge bg-primary">@Html.DisplayFor(model => model.AdmissionNo)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            @Html.DisplayNameFor(model => model.AdmissionDate) <span class="float-right badge bg-info">@Html.DisplayFor(model => model.AdmissionDate)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            @Html.DisplayNameFor(model => model.Gender) <span class="float-right badge bg-info">@Html.DisplayFor(model => model.Gender)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="card card-primary card-outline direct-chat-primary">
            <div class="card-header">
                <h3 class="card-title">Details </h3>
                <div class="card-tools">
                    <button class="btn btn-tool" type="button" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>

                @*====//Header====*@
            </div>
            <!-- /.card-header -->

            <div class="card-body">

                <dl>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClassName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClassName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SectionName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SectionName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RollNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RollNo)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.FatherName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FatherOccupation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherOccupation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MotherName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MotherOccupation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherOccupation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GuardianName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GuardianName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RelationWithGuardian)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RelationWithGuardian)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GuardianOccupation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GuardianOccupation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrVill)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrVill)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrPO)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrPO)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PrPIN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrPIN)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PrBlock)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrBlock)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrGP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrGP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.State)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DistName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DistName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Height)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Height)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Weight)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Weight)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Chest)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Chest)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BodyColor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BodyColor)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.BloodGroupName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BloodGroupName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IdentificationMark)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdentificationMark)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DocumentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DocumentName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EconomicalStatusName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EconomicalStatusName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EconomicalStatusNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EconomicalStatusNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CasteName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CasteName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SubCasteName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SubCasteName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NationalityName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NationalityName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContactNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AadhaarNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AadhaarNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SchoolName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SchoolName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PreviousClass)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PreviousClass)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BankName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BankName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BranchName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IFSCCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IFSCCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MICRCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MICRCode)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccountNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccountNo)
                    </dd>

                </dl>

            </div>
            <!-- /.card-body -->

            <div class="card-footer list-group-item text-muted col-md-12">
                @Html.ActionLink("Back to List", "Index")
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
</div>
