﻿@model IEnumerable<SP.Data.Models.StudentListView>
@using SP.Data;

@using SP.Web.Infrastructure.Layout;
@{
    ViewBag.Title = "Students List";
    ViewBag.Description = "List of Students";
    ViewBag.Icon = "fa fa-user-times";
    Layout = LayoutIStruct._AdminPanelLayout;
}


<div id="card">
    <div class="card-body list-group-item table-responsive">
        <table class="display table table-striped table-bordered text-sm nowrap text-center " style="width:100%" id="tblStudentListView">
            <thead>
                <tr class="bg-info-gradient">
                    <th>
                   </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdmissionNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdmissionDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.RegisterNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SectionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RollNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FatherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FatherOccupation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FatherContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FatherAI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherOccupation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherAI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianOccupation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianAI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NationalityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Religion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CasteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCasteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SchoolName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreviousClass)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrVill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrPO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrPS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrPIN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrBlock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrGP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmVill)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmPO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmPS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmPIN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmBlock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PmGP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MotherTongueName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AadhaarNo)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.GuardianContactNo2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianVoterId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GuardianMailID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PermanentDisease)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Height)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Chest)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BodyColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BloodGroupName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IdentificationMark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BankName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IFSCCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MICRCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountHolderName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {


                    <tr>
                            @Html.HiddenFor(modelItem => item.StudentID)
                        @* SLNO *@
                        <td>

                        </td>
                        <td>
                            @{
                                System_Web_UI_WebControls_Imager ss = new System_Web_UI_WebControls_Imager();
                                if (item.Photo.ISValidObject())
                                {
                                    string imageSrc = ss.byteArrayToWebImage((item.Photo)).ImageUrl;
                                    <img src="@imageSrc" class="img-rounded" style="height:10px;width:10px" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmissionDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SectionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RollNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherOccupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatherAI)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MotherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherOccupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianOccupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NationalityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Religion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CasteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubCasteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SchoolName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrVill)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrPO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrPS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrPIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrBlock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrGP)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PmVill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PmPO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PmPS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PmPIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PmBlock)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PmGP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MotherTongueName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AadhaarNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianContactNo2)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianVoterId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuardianMailID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PermanentDisease)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Chest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BodyColor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BloodGroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IFSCCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MICRCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountHolderName)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.AccountNo)
                        </td>

                        <td style="background:linear-gradient(#c5f6f1,#7af5f1)">
                            @Html.ActionLink(" ", "StdDetailsEdit", "StdAdmission", new { id = item.StudentID }, new { @class = "fa fa-edit", @data_toggle = "tooltip", @data_placement = "top", @title = "EDIT" })&nbsp;
                            @Html.ActionLink(" ", "Delete", "StdAdmission", new { id = item.StudentID }, new { @class = "fa fa-remove fa fa-trash text-info", @data_toggle = "tooltip", @data_placement = "top", @title = "DELETE" })&nbsp;
                            @Html.ActionLink(" ", "Details", new { studenId = item.StudentID }, new { @class = "fa fa-info text-warning", @data_toggle = "tooltip", @data_placement = "top", @title = "View" })&nbsp;&nbsp;
                            @Html.ActionLink(" ", "Index","StudentCertificate", new { registerNo = item.RegisterNo }, new { @class = "fa fa-file-text text-warning", @data_toggle = "tooltip", @data_placement = "top", @title = "Certificate" })&nbsp;&nbsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- page script -->
<script>
    //===TABLE CODE==
    $(function () {

        $('#tblStudentListView').DataTable({

            // "scrollY": 500,
            "scrollX": true,
            scrollCollapse: true,
            "fixedColumns": {
                //"leftColumns": 2,
                "rightColumns": 1
            },

            ////-=Show Many Field Or Some Field-=
            //dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'copyHtml5',
            //        text: '<i class="fa fa-files-o"></i>',
            //        titleAttr: 'Copy'
            //    },
            //    {
            //        extend: 'excelHtml5',
            //        text: '<i class="fa fa-file-excel-o"></i>',
            //        titleAttr: 'Excel'
            //    },
            //    {
            //        extend: 'csvHtml5',
            //        text: '<i class="fa fa-file-text-o"></i>',
            //        titleAttr: 'CSV'
            //    },
            //    {
            //        extend: 'pdfHtml5',
            //        text: '<i class="fa fa-file-pdf-o"></i>',
            //        titleAttr: 'PDF'
            //    }
            //]
        });
    });

    $('#tblStudentListView tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });
    //==-SUBMIT PERMISSION--,"#frmCustomFeesBill"==
    $("body").on("submit", function () {
        return confirm("Do you want to Generate Bill?");
    });
</script>

