﻿@model IEnumerable<SP.Data.Models.Ledger>
@using SP.Web.Infrastructure.ControllerStructure.Account
@using SP.Web.Infrastructure.AjaxStructure
@{
    ViewBag.Title = "Ledger View";
    ViewBag.Description = "Ledger";
    ViewBag.Icon = "fa fa-universal-access";
    Layout = LedgerIStruct.Index.Layout;
}

<div class="card  card-danger card-outline">
    <div class="card-header">
        @Ajax.ActionLink("Create New", // <-- Text to display
                 LedgerIStruct.LedgerAddEdit.ActionName, // <-- Action Method Name
                 LedgerIStruct.LedgerAddEdit.ControllerName,
                 new { }, // <-- Route value
                 new AjaxOptions
                 {
                     UpdateTargetId="LedgerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" ,// <-- HTTP method
                     LoadingElementId= AjaxFormIStruct.AjaxBeginFormLoading
                 }, new { @class = "ui-button ui-widget ui-corner-all" } // <-- htmlArguments
                 )
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="tblLedgerListView" class="table table-striped table-bordered text-sm  nowrap text-center w3-table-all" style="width:100%">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.LedgerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsFixed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsFees)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAudit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsLab)
                        </th>


                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        @Html.HiddenFor(modelItem => item.Id)
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LedgerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsFixed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsFees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAudit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsLab)
                            </td>

                            <td>
                                @* @Html.ActionLink(" ", LedgerIStruct.LedgerAddEdit.ActionName, LedgerIStruct.LedgerAddEdit.ControllerName, new { LedgerId = item.LedgerId }, new { @class = "fa fa-edit" })*@
                                @Ajax.ActionLink(" ", // <-- Text to display
                  LedgerIStruct.LedgerAddEdit.ActionName, // <-- Action Method Name
                  LedgerIStruct.LedgerAddEdit.ControllerName,
                  new { LedgerId = item.LedgerId }, // <-- Route value
                  new AjaxOptions
                  {
                      UpdateTargetId="LedgerList", // <-- DOM element ID to update
                      InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                      HttpMethod = "GET" ,// <-- HTTP method
                      LoadingElementId= AjaxFormIStruct.AjaxActionLinkLoading
                  }, new { @class = "fa fa-edit" } // <-- htmlArguments
                  )

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* ===============Ajax Render Create Window=============== *@
<div id="LedgerList"></div>
@* ===============Ajax Render Create Window=============== *@

<!-- page script -->
<script>
    $(function () {

        $('#tblLedgerListView').DataTable({
            "scrollY": 500,
            "scrollX": true,
            //"columnDefs": [
            //    {
            //        "targets": [0],//Hide Student Id
            //        "visible": false,
            //        "searchable": false
            //    },
            //],
            //scrollCollapse: true,
            "fixedColumns": {
                "leftColumns": 2,
                "rightColumns": 1
            }
        });
    });
</script>
@*ref:https://www.c-sharpcorner.com/UploadFile/abhikumarvatsa/ajax-actionlink-and-html-actionlink-in-mvc/*@

