﻿@model SP.Data.Models.Ledger
@using SP.Web.Infrastructure.ControllerStructure.Account
@*/*It is PartialView*/*@
@{
    ViewBag.Title = "Ledger";
    ViewBag.Description = "Ledger";
    ViewBag.Icon = "fa fa-universal-access";
    Layout = ViewBag.Layout;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="w3-container">


        <div id="dlgLegder" class="w3-modal w3-animate-zoom" style="display:block;z-index:9999 !important;">
            @**@
            <div class="w3-modal-content w3-card-4 " style="max-width:600px !important">
                <header class="w3-container alert-info">
                    <span onclick="document.getElementById('dlgLegder').style.display='none'"
                          class="w3-small w3-button w3-display-topright w3-hover-red" >&times;</span>
                    <h3 class="@ViewBag.Icon">  @ViewBag.Title</h3>
                </header>
                <div class="w3-container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br />

                    @* for Edit *@
                    @Html.HiddenFor(model => model.LedgerId)

                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.LabelFor(model => model.LedgerName, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.LedgerName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LedgerName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownList("ParentId", null, "--Select Fund--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.Category, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.Type, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row  info-box">

                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.IsFees, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsFees, new { @class = "" })
                            @Html.ValidationMessageFor(model => model.IsFees, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.IsAudit, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsAudit)
                                    @Html.ValidationMessageFor(model => model.IsAudit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.IsLab, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsLab)
                                    @Html.ValidationMessageFor(model => model.IsLab, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <footer class="w3-container alert-secondary p-md-3">

                    <div class="col-md-offset-2">
                        <button id="btnSave" name="btnSave" value="Save" class="btn btn-default bg-info-gradient w3-round-large float-sm-right">  <i class="fa fa-save"></i> Save</button>
                    </div>
                    @Html.ActionLink("Back To View", LedgerIStruct.Index.ActionName, new { }, new { @class = "ui-button ui-widget ui-corner-all" })

                </footer>
            </div>
        </div>

    </div>
}



