﻿@using SP.Web.Infrastructure.Layout
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    Layout = LayoutIStruct._AdminPanelLayout;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card card-danger card-outline direct-chat direct-chat-danger  w3-card-4">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3 fa fa-id-card"> Subject </h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        @* tab-1 *@
                        <li class="nav-item">
                            <a class="nav-link  active" href="#subtab_1" data-toggle="tab" id="subjectTab1"
                               onclick="location.href='@Url.Action(SubjectsIStruct.MpIndex.ActionName, SubjectsIStruct.MpIndex.ControllerName)'">
                                <i class="fa fa-leaf"></i>&nbsp;Secondary
                            </a>
                        </li>

                        @* tab-2 *@
                        <li class="nav-item">
                            <a class="nav-link" href="#subtab_1" data-toggle="tab" id="subjectTab2"
                               onclick="location.href='@Url.Action(SubjectsIStruct.HsIndex.ActionName, SubjectsIStruct.HsIndex.ControllerName)'">
                                <i class="fa fa-leaf"></i>&nbsp;Higher Secondary
                            </a>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="tab_1">
                            @RenderBody()
                        </div>
                        <!-- /.tab-pane -->


                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </div>


</div>