﻿@model IEnumerable<SP.Web.Models.HSSubjectsCombination>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HSSubject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stream.Stream1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectsGroup.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HSSubject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stream.Stream1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectsGroup.GroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
