﻿@model List<SP.Web.Areas.Fees.Models.FeesStructureVM>
@using SP.Data
@{
    ViewBag.Title = "Fees Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Montly
    var isMonthly = ViewBag.IsMonthly;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-primary card-outline">
        <div class="card-header"><span class="fa fa-dollar"></span></div>

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>

                @*---- Ledger --- *@
                <div class="form-group">
                    @Html.Label("LedgerId", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownList("LedgerId", null, "--Select one--", new { @onchange = "this.form.submit()", @class = "form-control", @id = "LedgerId" })
                        @Html.ValidationMessage("LedgerId", "", new { @class = "text-danger" })
                    </div>
                </div>

                @* ------Lab SUbject ---- *@
                <div class="form-group" style="display:@ViewBag.SubjectHideSHow">
                    @* radion Button *@
                    <label class="radio-inline"><input type="radio" name="chkLab" value="Individual" @ViewBag.Individual> Indivisual</label>&nbsp; &nbsp;
                    <label class="radio-inline"><input type="radio" name="chkLab" value="AllInOne" @ViewBag.AllInOne> All in one</label>

                    @* ==Subject Box *@
                    <div class="" id="labSubjectGroup">
                        @Html.Label("SubjectId", htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("SubjectId", null, "--Select one--", new { @class = "form-control", @id = "SubjectId" })
                            @Html.ValidationMessage("SubjectId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <button type="submit" id="btnRefresh" name="btnRefresh" value="Refresh" class="btn btn-default bg-primary-gradient pull-right"><span class="fa fa-refresh w3-spin"></span> Refresh</button>
                </div>

            </div>

            @* --Structure Table--- *@
            <div class="table-responsive">

                <table id="tblFeesStructure" data-request-url="@Url.Action("SaveFeesStructure", "FeesStructures", new {Area = "Fees"})" class="table table-striped table-bordered text-sm  nowrap text-center w3-table-all" style="width:100%">
                    <thead>
                        <tr class="bg-warning-gradient">
                            <th style="display:none">FeesStructureID</th>

                            <th style="display:none">ClassId</th>

                            <th>Class Name</th>

                            <th>Fees</th>

                            <th>Admission</th>

                            <th>
                                Readmission
                            </th>
                            @if (isMonthly)
                            {
                                <th>
                                    Monthly
                                </th>
                            }
                            <th>
                                Fine
                            </th>

                            <th>
                                Custom
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="FeesStructureID" style="display:none">
                                    <span>@item.FeesStructureID</span>
                                </td>

                                <td class="ClassId" style="display:none">
                                    <span>@item.ClassId</span>
                                </td>



                                <td class="ClassName bg-success-gradient">
                                    <span>@item.ClassName</span>
                                </td>

                                <td class="FeesAmount">
                                    @Html.TextBoxFor(modelitem => item.FeesAmount, null, new { @disabled = "disabled", @class = "form-control-range", @type = "number", @min = "0", @style = "max-width:100px !important" })
                                    @Html.ValidationMessageFor(modelitem => item.FeesAmount, "", new { @class = "text-danger" })
                                </td>

                                <td class="IsAdmission">
                                    @Html.CheckBox("IsAdmission", item.IsAdmission.Value.ConvertObjectToBool(), new { @disabled = "disabled", @class = "" })
                                </td>

                                <td class="IsReadmission">
                                    @Html.CheckBox("IsReadmission", item.IsReadmission.Value.ConvertObjectToBool(), new { @disabled = "disabled", @class = "" })
                                </td>

                                @if (isMonthly)
                                {

                                    <td class="IsMonthly">
                                        @Html.CheckBox("IsMonthly", item.IsMonthly.Value.ConvertObjectToBool(), new { @disabled = "disabled", @class = "" })
                                    </td>
                                }

                                <td class="IsFine">
                                    @Html.CheckBox("IsFine", item.IsFine.Value.ConvertObjectToBool(), new { @disabled = "disabled", @class = "" })
                                </td>

                                <td class="IsCustom">
                                    @Html.CheckBox("IsCustom", item.IsCustom.Value.ConvertObjectToBool(), new { @disabled = "disabled", @class = "" })

                                </td>
                                <td>
                                    <a class="Edit btn-sm btn-primary" href="javascript:;">Edit</a>&nbsp;
                                    <a class="Update btn-sm btn-success" href="javascript:;" style="display:none">Update</a>&nbsp;
                                    <a class="Cancel btn-sm btn-danger" href="javascript:;" style="display:none">Cancel</a>&nbsp;

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
}

 <!--Script Section-->
    <script src="~/wwwroot/Script/Fees/FeesStructure.js"></script>
 <!--Script Section-->
