﻿@model IEnumerable<SP.Data.Models.FeesStructureView>
@using SP.Web.Infrastructure.AjaxStructure

@{
    ViewBag.Title = "Fees Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header card-outline card-primary">
        <h3 class="card-title">Custom Fees</h3>

        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
          
                @Html.ActionLink("Create",
                           "Create", new { },
                             new { @class = "ui-button ui-widget ui-corner-all" }
                            )
           
        </div>
    </div>
    <div class="card-body p-0 mx-3 my-2">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.Label("ClassID", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ClassID", (SelectList)ViewBag.ClassID, "--Please Select--", new { id = "ClassID", onchange = "$('#btnPostBackView').click();", @class = "form-control" })
                <input type="submit" value="postBack" id="btnPostBackView" name="btnPostBackView" style="display:none" />
            </div>
        }
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered text-sm  nowrap text-center" style="width:100%" id="tblfsList">
                    <thead>
                        <tr>
                            <th>
                                Sl.No.
                            </th>
                            <th class="bg-danger-gradient">
                                @Html.DisplayNameFor(model => model.LedgerName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IsAdmission)
                            </th>
                            <th class="bg-success-gradient">
                                @Html.DisplayNameFor(model => model.IsReadmission)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IsFine)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsCustom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsMonthly)
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            @* For SlNo *@
                            <td></td>
                            <td class="bg-danger-gradient">
                                @Html.DisplayFor(modelItem => item.LedgerName)
                            </td>

                            <td class="bg-info-gradient">
                                @Html.DisplayFor(modelItem => item.IsAdmission)
                            </td>
                            <td class="bg-success-gradient">
                                @Html.DisplayFor(modelItem => item.IsReadmission)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsFine)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsCustom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsMonthly)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>

<!-- page script -->
<script>
    $(function () {

        var t = $('#tblfsList').DataTable({
            "scrollY": 500,
            "scrollX": true,
            "scrollCollapse": true,


            //--Sl NO COlumn Code--
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0//Sl no Column
            }],
            "order": [[1, 'asc']]//orderin g set
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

</script>
