﻿@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
   Drycode Technology LLP<br />
    India, West Bengal, West Midnapore-721102<br />
    <abbr title="Phone">P:</abbr>
   8001312899/8145788106
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@drycode.technology">info@drycode.technology</a><br />
</address>