﻿@model List<SP.Data.Models.Section>
@using SP.Web.Infrastructure.ControllerStructure.Academic
@{
    Layout = null;
}
<div class="card card-warning  card-outline">
    <div class="card-header">
        <h3 class="card-title"><i class=""></i>  Section List</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->

    <div id="divSectionView" class="card-body">
        @using (Ajax.BeginForm(SectionIStruct.SectionView.ActionName, SectionIStruct.SectionView.ControllerName, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divSectionView" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.Label("FilterClassID", htmlAttributes: new { @class = "control-label" })
               @Html.DropDownList("FilterClassID", (SelectList)ViewBag.FilterClassID, "--Please Select--", new { id = "FilterClassID", onchange = "$('#btnPostBackView').click();", @class = "form-control" })
            </div>
            <input type="submit" value="postBack" id="btnPostBackView" name="btnPostBackView" style="display:none" />

            <table class="table">
                <tr>
                    <th>
                        SectionName
                    </th>

                    <th></th>
                </tr>
                @{

                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SectionName)
                                </td>

                                <td>
                                    @Html.ActionLink(" ", "CreateAndEdit", new { ID = item.ID }, new { @class = "fa fa-edit" })
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        }
    </div>


    <div class="card-footer">

    </div>
    <!-- /.card-footer -->
</div>

