﻿@model List<SP.Data.Models.StudentListView>
@using SP.Web.Infrastructure.ControllerStructure.Student;
@using SP.Web.Infrastructure.ControllerStructure._PartialViews
@using SP.Data.session;
@{
    ViewBag.Title = "Readmission Student Information ";
    ViewBag.Description = "Readmission  Student Information ";
    ViewBag.Icon = "fa fa-registered";

    Layout = StdReAdmissionIStruct.StdReadmissionManually.Layout;
}

@using (Html.BeginForm(StdReAdmissionIStruct.StdReadmissionManually.ActionName, StdReAdmissionIStruct.StdReadmissionManually.ControllerName,
FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="card card-warning  card-outline">
        <div class="card-header">
            <h3 class="card-title"><i class="fa fa-search"></i>  Select Criteria</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="control-label">Class</label>
                    <sup class="text-danger">&nbsp;*</sup>
                    <div class="">
                        @Html.DropDownList("ddlCurrentClassID", (SelectList)ViewBag.ddlCurrentClassID, "--Please Select--", new { @class = "form-control" })
                        @Html.ValidationMessage("ddlCurrentClassID", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group text-right">
                <button name="search" class="btn btn-primary btn-sm pull-right" type="submit" value="search_filter"><i class="fa fa-search"></i> Search</button>
            </div>

        </div>
        <!-- /.card-body -->
    </div>

}


<div class="card card-warning  card-outline">
    <div class="card-header">
        <h3 class="card-title"><i class="fa fa-align-center"></i>   Promote To Next Session</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row text-center">
            @{

                Html.RenderAction(SessionWithClassViewIStruct.SessionWithClassAndSecView.ActionName, SessionWithClassViewIStruct.SessionWithClassAndSecView.ControllerName
                              , new { Area = SessionWithClassViewIStruct.SessionWithClassAndSecView.AreaName, sessionType = SessionUtils._SessionType.VToX });
            }

        </div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="table-responsive">
                <table class="table table-striped table-bordered text-sm  text-nowrap text-center w3-table-all" style="width:100%" id="tblStudentReadmission">
                    <thead>
                        <tr class="bg-secondary-gradient">
                            @*<th>
                                    @Html.DisplayNameFor(model => model.First().StudentID)
                                </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.First().RegisterNo)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.First().StudentName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.First().FatherName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.First().SectionName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.First().RollNo)
                            </th>

                            <th>
                                <span class="label label-danger">New RollNo</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model != null && Model.Count() > 0)
                            {
                                for (int i = 0; i < Model.Count(); i++)
                                {
                                    <tr>
                                        @*Student Id*@
                                        @Html.HiddenFor(m => Model[i].StudentID)

                                        <td>
                                            @Html.DisplayFor(m => Model[i].RegisterNo)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(m => Model[i].StudentName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(m => Model[i].FatherName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(m => Model[i].SectionName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(m => Model[i].RollNo)
                                        </td>

                                        <td>@Html.TextBoxFor(m => Model[i].RollNo, new { @class = "" })</td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 form-group text-right">
                <button name="search" class="btn btn-default bg-danger-gradient btn-sm pull-right" type="submit" value="submit"><i class="fa fa-level-up"></i> Promote</button>
            </div>
        }


    </div>
    <!-- /.card-body -->
</div>



<!-- page script -->
<script>
    $(function () {

        $('#tblStudentReadmission').DataTable({
            "scrollY": 300,
            "scrollX": true,
            //"columnDefs": [
            //    {
            //        "targets": [0],//Hide Student Id
            //        "visible": false,
            //        "searchable": false
            //    }
            //]
        });
    });</script>

