﻿<!-- Loading -->
    <div  id="Ajax_BeginForm_Loading" class="w3-modal" style="display:none;padding:30%;">
        <div class="w3-modal-content  w3-card-4 w3-animate-zoom" style="max-width:300px">
            <div class="w3-container">
                Plsease Wait...
                <i class="size-50 fa fa-recycle fa-spin"></i>
            </div>
           
        </div>
    </div>
<!-- ..//end Loading -->