﻿<aside class="control-sidebar bg-warning-gradient" style="top: 57px;">
  
</aside>
@* Add the sidebar's background. This div must be placed immediately after the control sidebar *@
<div class="control-sidebar-bg"></div>