﻿<footer class="main-footer w3-tiny" >
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0-build
    </div>
    <strong class="">Copyright © 2018-2019 <a href="http://drycode.technology">Drycode Technology LLP</a>.</strong> All rights
    reserved.
</footer>
