﻿
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom ">
    @*Left navbar links -->*@
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" data-widget="pushmenu"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            @Html.ActionLink("Contact", "Contact",null, new { @class = "nav-link" })
        </li>
    </ul>

    @*SEARCH FORM -->*@
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" aria-label="Search" type="search" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    @*Right navbar links*@
    <ul class="navbar-nav ml-auto">
        @*Messages Dropdown Menu*@
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown">
                <i class="fa fa-comments-o"></i>
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a class="dropdown-item" href="#">
                    <!-- Message Start -->
                    <div class="media">
                        <img class="img-size-50 mr-3 img-circle" alt="User Avatar" src="~/wwwroot/images/logo.ico">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Call me whenever you can...</p>
                            <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <!-- Message Start -->
                    <div class="media">
                        <img class="img-size-50 img-circle mr-3" alt="User Avatar" src="~/wwwroot/images/logo.ico">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
                            </h3>
                            <p class="text-sm">I got your message bro</p>
                            <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <!-- Message Start -->
                    <div class="media">
                        <img class="img-size-50 img-circle mr-3" alt="User Avatar" src="~/wwwroot/images/logo.ico">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
                            </h3>
                            <p class="text-sm">The subject goes here</p>
                            <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-footer" href="#">See All Messages</a>
            </div>
        </li>

        @*Notifications Dropdown Menu*@
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-footer" href="#">See All Notifications</a>
            </div>
        </li>


        @*======User Menu========  *@
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown">
                <img class="img-circle"  alt="User Image" style="width:20px;height:20px"  src="~/wwwroot/images/logo.ico" />
                <span class="fa fa-caret-down"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-item dropdown-header">
                    <img class="img-circle img-size-32" alt="User Image"  src="~/wwwroot/images/logo.ico" />
                    <span class="hidden-xs">Arup</span>
                </div>

                <div class="dropdown-divider"></div>
                <div class="dropdown-item">
                    <div class="pull-left">
                        <a class="w3-button w3-red w3-small w3-round-large" href="#">Profile</a>
                    </div>
                    <div class="pull-right">
                        <a class="w3-button w3-red w3-small w3-round-large" href="#">Sign out</a>
                    </div>
                </div>
               
                @* log out button *@
                <div class="dropdown-item dropdown-footer">
                    <i class="fa fa-circle-o-notch bg-info mr-2"></i>    online
                </div>
               
            </div>
        </li>



        @* =====Right Side slide==== *@
        <li class="nav-item">
            <a class="nav-link" href="#" data-widget="control-sidebar" data-slide="true">
                <i class="fa fa-th-large"></i>
            </a>
        </li>

    </ul>
</nav>