﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        SchoolPlus Web portal
    </title>


    <!-- jQuery -->
    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/wwwroot/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    @* DataTables(for button) *@
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
    @*DataTables(For Column Freeze)*@
     <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.bootstrap4.min.css">


    <!-- Theme style -->
    <link rel="stylesheet" href="~/wwwroot/AdminLTE_dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/wwwroot/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/wwwroot/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/wwwroot/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/wwwroot/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/wwwroot/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @*jquery ui  Css *@
    <link href="~/wwwroot/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
    @* --w3css-- *@
    <link href="~/wwwroot/plugins/w3css/W3.css" rel="stylesheet" />



</head>
<body class="skin-blue hold-transition sidebar-mini" ng-app="spPlus">
    <div class="wrapper" id="a1">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 720px;">
            @* ===Header Site map===== *@

            @{
                Html.RenderPartial("_PageHeader", new GetSetValues<string, string, string>
                { Item1 = ViewBag.Icon, Item2 = ViewBag.Title, Item3 = ViewBag.Description });
            }

            <section class="content">
                @* ajx begin form loading *@
                @Html.Partial("_AjaxBeginFormLoading")

                @RenderBody()
            </section>

        </div>
        <!-- Content Wrapper. Contains page content -->
        <!-- Footer -->
        @Html.Partial("_Footer")
        <!-- Footer -->
    </div>

    <!-- Control Sidebar -->
    @* @Html.Partial("_ControlSidebar")*@
    <!-- Control Sidebar -->
    @* ==Two time use== *@
    <!-- jQuery-2 -->
    <script src="~/wwwroot/plugins/jquery/jquery.min.js"></script>
    <!-- jquery.validate -2-->
    <script src="~/wwwroot/plugins/jquery/jquery.validate.min.js"></script>
    <!-- jquery.validate.unobtrusive -3-->
    <script src="~/wwwroot/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>
    <!-- jQuery Ajax -->
    <script src="~/wwwroot/plugins/jquery/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    @*DataTables(For Button up)*@
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
    @*DataTables(For Column Freeze)*@
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>


    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/wwwroot/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/wwwroot/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/wwwroot/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/wwwroot/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/wwwroot/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="~/wwwroot/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/wwwroot/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/wwwroot/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/wwwroot/plugins/fastclick/fastclick.js"></script>

    <!-- AdminLTE App -->
    <script src="~/wwwroot/AdminLTE_dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/wwwroot/AdminLTE_dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes(back ground color change right side slide) -->
    <script src="~/wwwroot/AdminLTE_dist/js/demo.js"></script>

    <!-- confirm.min.js USE FOR CONFIRM DILOG purposes(AND MORE) -->
    <script src="~/wwwroot/plugins/jquery_confirm/jquery.confirm.min.js"></script>

    <!-- jquery ui -js) -->
    <script src="~/wwwroot/plugins/jQueryUI/jquery-ui.js"></script>

    <!-- Angular js -->
    <script src="~/wwwroot/plugins/Angular/angular.js"></script>
    <!-- Angular js Custom model -->
    <script src="~/wwwroot/AJScript/AJModule.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
                                                                //$.widget.bridge('uibutton', $.ui.button)
    </script>


    @RenderSection("scripts", required: false)


</body>
</html>
