﻿@model GetSetValues<string,string,string>

<!-- Content Header (Page header) -->
<section class="content-header callout callout-info m-2  w3-card-2"
         style="padding:3px !important;"     data-toggle="tooltip" data-placement="top" title='@Html.DisplayTextFor(model => model.Item3)'>

    <h3>
       &nbsp; <i class='@Html.DisplayTextFor(model => model.Item1)'></i>
        <small> @Html.DisplayTextFor(model => model.Item2)</small>

    </h3>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
