﻿
@using SP.Data.session
@{SessionUtils sessionUtils = new SessionUtils();
    var mpSession = sessionUtils._gSessionVToX;
    var hsSession= sessionUtils._gSessionXIToXII;}


<aside class="main-sidebar sidebar-dark-warning elevation-3">
    <!-- Brand Logo -->
    <a class="brand-link" href="#">
        <img class="brand-image img-circle elevation-3" style="opacity: .8" alt="SP Logo" src="~/wwwroot/images/logo.ico">
        <span class="brand-text font-weight-light">SP Portal</span>
    </a>



    <!-- Sidebar -->
    <div class="slimScrollDiv" style="width: auto; height: 575px; overflow: hidden; position: relative;">

        <div class="sidebar" style="width: auto; height: 575px; overflow: hidden; min-height: 575px;">

            <!-- Sidebar Session -->
            <div class="user-panel mt-1 pb-1 mb-1 d-flex">
                <div class="info">
                    <a href="#" class="d-block label label-danger w3-round">
 @mpSession::@hsSession
                    </a>
                </div>
            </div>
            <!-- Sidebar Session -->
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-widget="treeview" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->

                    <li class="nav-item has-treeview menu-open">
                        <a class="nav-link" href="#" onclick="location.href='@Url.Action("Index", "Home",new { Area = "" })'">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                Dashboard
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                    </li>


                    <li class="nav-header">
                        Student
                        <i class="right badge badge-danger">New</i>
                    </li>

                    @* Student *@
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-user-plus"></i>
                            <p>
                                Student
                                <i class="right fa fa-angle-left"></i>

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("Index", "StdListViews",new { Area = "Student" })'">
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Students List</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("StdDetailsCreate", "StdAdmission",new { Area = "Student" })'">
                                    <i class="fa fa-circle-o nav-icon w3-text-green"></i>
                                    <p>Admission</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("StdReadmissionManually", "StdReadmission",new { Area = "Student" })'">
                                    <i class="fa fa-circle-o nav-icon w3-text-red"></i>
                                    <p>Student Re-Admission</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @* Academic *@
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-mortar-board"></i>
                            <p>
                                Academic
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("CreateAndEdit", "Classes",new { Area = "Academic" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Class</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("CreateAndEdit", "Sections",new { Area = "Academic" })'">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Section</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" onclick="location.href='@Url.Action("Index", "Sessions",new { Area = "session" })'">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>Session</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    @* Subject *@
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-book"></i>
                            <p>
                                Subject
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "Subjects",new { Area = "Subject" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Subjects</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "SubjectsCombinations",new { Area = "Subject" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Subjects Combination</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @* Account *@
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-institution"></i>
                            <p>
                                Account
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "Ledgers",new { Area = "Account" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Ledger</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("#", "#",new { Area = "#" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>..</p>
                                </a>
                            </li>
                         
                        </ul>
                    </li>

                    @* Fees *@
                    <li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-money"></i>
                            <p>
                                Fees
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "FeesStructures",new { Area = "Fees" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Fees Structures</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "FeesBill",new { Area = "Fees" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Fees Biil</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "FeesCollect",new { Area = "Fees" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Fees Collection</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Edit", "FeesConfigs",new { Area = "Fees" })'>
                                    <i class="fa fa-circle-o nav-icon text-danger"></i>
                                    <p>Fees Configaration</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <!-- /.sidebar-menu -->
        </div>

        <div class="slimScrollBar" style="background: rgb(0, 0, 0); border-radius: 7px; top: 0px; width: 7px; height: 284.77px; right: 1px; display: none; position: absolute; z-index: 99; opacity: 0.4;"></div><div class="slimScrollRail" style="background: rgb(51, 51, 51); border-radius: 7px; top: 0px; width: 7px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div>
    </div>
    <!-- /.sidebar -->
</aside>