﻿@model SP.Data.Models.Std_Details
@{
    ViewBag.Title = "Delete";
    Layout = SP.Web.Infrastructure.Layout.LayoutIStruct._AdminPanelLayout;
}

@* for delete *@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Std_Register.First().RegisterNo)


<div id="dlgStudentDelete" title="Delete">
    <h3>Are you sure you want to delete this?</h3>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomicalStatusNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomicalStatusNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPCDisability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPCDisability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste.CasteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste.CasteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisabilityType.CatagoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisabilityType.CatagoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomicalStatu.EconomicalStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomicalStatu.EconomicalStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality.NationalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality.NationalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion.Religion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion.Religion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.XIToXII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.XIToXII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCaste.SubCasteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCaste.SubCasteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportingDoc.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportingDoc.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_MoreDetails.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_MoreDetails.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Std_ParentsDetails.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Std_ParentsDetails.FatherName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" id="btnCurrentSession" name="btnCurrentSession" value="From Current Session" class="btn btn-default" />
            <input type="submit" id="btnPermanent" name="btnPermanent" value="Permanent Delete" class="btn btn-default" /> |
        </div>
    }
</div>

<script>
    //Dialog
    $(function () {
        $("#dlgStudentDelete").dialog({
            height: "auto",
            width: 600,
            modal: true,


            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                    //previous page
                    window.history.back();
                }
            }
        });
    });

</script>