﻿@model SP.Data.Models.Std_Address
@using SP.Data
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*====View====*@
    <div class="card card-primary card-outline direct-chat-primary">

        <div class="card-header">
            <h3 class="card-title"><br/></h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-tool" type="button" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            @*====Header====*@
            @Html.Partial("_AdmissionBreadCrumb", new SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
        {
            StudentAddress = true
        })


            @*====//Header====*@
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">

                <div class="">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <fieldset>
                        <legend class="w3-text-blue text-sm">Present Address :</legend>
                        <div class="row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrVill, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.TextBoxFor(model => model.PrVill, new { @class = "form-control" })@*,@ng_model = "ngPrVill"*@
                                    @Html.ValidationMessageFor(model => model.PrVill, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrBlock, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PrBlock, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrBlock, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4 ">
                                @Html.LabelFor(model => model.PrPO, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PrPO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrPO, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrGP, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PrGP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrGP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrPS, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PrPS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrPS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrDistID, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                      @Html.DropDownList("PrDistID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PrDistID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PrPIN, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PrPIN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrPIN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </fieldset>

                    <hr />

                    <fieldset>
                        <legend class="w3-text-green text-sm">Permanent Address:</legend>
                        <div class="row">

                            <div class="form-group col-md-4" >
                                @Html.LabelFor(model => model.PmVill, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.TextBoxFor(model => model.PmVill, new { @class = "form-control" })@*,@value="{ngPrVill}"*@
                                    @Html.ValidationMessageFor(model => model.PmVill, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmBlock, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PmBlock, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PmBlock, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmPO, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PmPO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PmPO, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmGP, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PmGP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PmGP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmPS, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PmPS, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PmPS, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmDistID, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownList("PmDistID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PmDistID, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.PmPIN, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.PmPIN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PmPIN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer list-group-item col-md-12">
            @* left *@
            <button id="btnPrevious" name="btnPrevious" value="Previous" class="w3-btn w3-white w3-border w3-border-blue w3-round-large float-left col-md-2 disabled"><i class="fa fa-arrow-circle-o-left" disabled></i> Previous</button>
            @* right *@
            <button id="btnNext" name="btnNext" value="Next" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Next <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;
            <button id="btnReset" name="btnReset" value="Reset" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Reset <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;

        </div>
        <!-- /.card-footer-->
    </div>

}


