﻿@model SP.Data.Models.Std_Address
@using SP.Data
@{
    ViewBag.Title = "";
    Layout = SP.Web.Infrastructure.Layout.LayoutIStruct._StudentEditLayout;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.StudentID)

        @* present *@
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrVill, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrVill, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrVill, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrBlock, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrBlock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrBlock, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrPO, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrPO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrPO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrGP, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrGP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrGP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrPS, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrPS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrPS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrDistID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model.PrDistID,(SelectList)ViewBag.PrDistID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrDistID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PrPIN, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PrPIN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrPIN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* permanent *@
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmVill, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmVill, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmVill, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmBlock, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmBlock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmBlock, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmPO, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmPO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmPO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmGP, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmGP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmGP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmPS, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmPS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmPS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmDistID,  htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model.PmDistID, (SelectList)ViewBag.PmDistID, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PmDistID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        @Html.LabelFor(model => model.PmPIN, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PmPIN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PmPIN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group text-right">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
