﻿@model SP.Data.Models.Std_BankDetails
@using SP.Web.Infrastructure.Layout

@{
    ViewBag.Title = "Student Bank Details";
    ViewBag.Icon = "fa fa-bank";
    ViewBag.Description = "Student Bank Details";
    Layout = LayoutIStruct._StudentEditLayout;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.StudentId)

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.BranchDetailsID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("BranchDetailsID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchDetailsID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.AccountHolderName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.AccountHolderName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountHolderName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

