﻿@model SP.Data.Models.Std_BankDetails
@using SP.Web.Infrastructure.ControllerStructure.Student
@using SP.Web.Infrastructure.AjaxStructure

<div id="replacethis_bank">
    @using (Ajax.BeginForm(StdAdmissionIStruct.StdBankCreate.ActionName, StdAdmissionIStruct.StdBankCreate.ControllerName, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replacethis_bank", LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading }))
    {
        @Html.AntiForgeryToken()
        <div id="mdlCreateStdBank" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom" style="max-width:500px">
                <div class="card card-info card-outline direct-chat direct-chat-info">
                    <div class="card-header">
                        <h3 class="card-title"> <i class="fa fa-bank"></i> Bank</h3>
                        <div class="card-tools">
                            <button onclick="document.getElementById('mdlCreateStdBank').style.display='none'"
                                    class="btn btn-tool" type="button">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body p-0">
                        <div class="w3-container">
                            <div class="container-fluid row">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(model => model.BranchDetailsID, htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.DropDownListFor(model => model.BranchDetailsID, (SelectList)ViewBag.BranchDetailsID, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BranchDetailsID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    @Html.LabelFor(model => model.AccountHolderName, htmlAttributes: new { @class = "control-label " })
                                    <div class="">
                                        @Html.EditorFor(model => model.AccountHolderName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AccountHolderName, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer list-group-item">
                        <div class="col-md-12 form-group">
                            <div class="col-md-offset-2 ">
                                <input type="submit" value="OK" class="btn btn-default pull-right" onclick="document.getElementById('mdlCreateStdBank').style.display='none'" />
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->

                </div>
                <!--/.direct-chat -->
            </div>
        </div>
    }
</div>