﻿@model SP.Data.Models.Std_Details
@using SP.Data;

@{
    /**/

    ViewBag.Title = "Student";
    Layout =SP.Web.Infrastructure.Layout.LayoutIStruct._StudentEditLayout;
}

@using (Html.BeginForm("StdDetailsEdit", "StdAdmission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid row ">

        @Html.HiddenFor(model => model.SessionID)
        @Html.HiddenFor(model => model.StudentID)



        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>() { new SelectListItem() { Text = "MALE", Value = "MALE" },
              new SelectListItem() { Text = "FEMALE", Value = "FEMALE" },
               new SelectListItem() { Text = "OTHERS", Value = "OTHERS" } },
               htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.CasteID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("CasteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CasteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SubCasteID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("SubCasteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubCasteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.ReligionID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("ReligionID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReligionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.NationalityID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("NationalityID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NationalityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.EconomicalSatusID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("EconomicalSatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EconomicalSatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.EconomicalStatusNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.EconomicalStatusNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EconomicalStatusNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SupportingDocID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("SupportingDocID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SupportingDocID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsPCDisability, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsPCDisability, new { @class = "form-control", @ng_model = "hideIsPCDisability" })
                    @Html.ValidationMessageFor(model => model.IsPCDisability, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6 form-group" ng-show='hideIsPCDisability'>
            @Html.LabelFor(model => model.PCPer, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.PCPer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PCPer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group" ng-show='hideIsPCDisability'>
            @Html.LabelFor(model => model.DisabilityID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownList("DisabilityID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DisabilityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group text-center">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label" })<br />

            <div class="">
                @{
                    string imageSrc = "";
                    System_Web_UI_WebControls_Imager ss = new System_Web_UI_WebControls_Imager();
                    if (Model.Photo != null)
                    {
                        imageSrc = ss.byteArrayToWebImage((Model.Photo)).ImageUrl;
                    }
                }
                <img id="_ImgStudentImage" src="@imageSrc" class="w3-image img-bordered w3-border-brown text-center" style="height:100px;width:100px" alt="Student" />
                @Html.TextBox("StudentImage", "", new { id = "StudentImage", onchange = "ImagePreviewFrominputFile(this,'_ImgStudentImage')", @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 form-group text-right">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

@* Image Preview js
    use :ImagePreviewFrominputFile(this,imagename)*@
<script src="~/wwwroot/Script/ImagePreview.js"></script>



