﻿
@model SP.Data.Models.Std_Details
@using SP.Web.Infrastructure.ControllerStructure.Student;
@{
    /**/

    ViewBag.Title = "Student Admission";
    Layout = StdAdmissionIStruct.StdDetailsCreate.Layout;
}
@using (Html.BeginForm(StdAdmissionIStruct.StdDetailsCreate.ActionName, StdAdmissionIStruct.StdDetailsCreate.ControllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    @*====View====*@
    <div class="card card-info card-outline direct-chat-primary">
        <div class="card-header">
            <h3 class="card-title"><br /></h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-tool" type="button" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            @*====Header====*@
            @Html.Partial("_AdmissionBreadCrumb", new SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
        {
            StudentDetails = true
        })


            @*====//Header====*@
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    @* ==Left== *@
                    <div class="row col-md-8">

                        <div class="form-group col-md-8">
                            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>() { new SelectListItem() { Text = "MALE", Value = "MALE" }, new SelectListItem() { Text = "FEMALE", Value = "FEMALE" }, new SelectListItem() { Text = "OTHERS", Value = "OTHERS" } }, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CasteID, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownList("CasteID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CasteID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SubCasteID, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DropDownListFor(model => model.SubCasteID, (SelectList)ViewBag.SubCasteID, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CasteID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    @* ==Right== *@
                    <div class="col-md-4  text-center">
                        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label" })<br />
                        <div class="">
                            <img id="_ImgStudent_Image" class="w3-image img-bordered w3-border-brown text-center" style="height:100px;width:100px" src="#" alt="Student" />
                            @Html.TextBox("StudentImage", "", new { onchange = "ImagePreviewFrominputFile(this,'_ImgStudent_Image')", @class = "form-control", type = "file", id = "StudentImage" })
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ReligionID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("ReligionID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReligionID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.NationalityID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("NationalityID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NationalityID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.EconomicalSatusID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("EconomicalSatusID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EconomicalSatusID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.EconomicalStatusNo, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.EconomicalStatusNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EconomicalStatusNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SupportingDocID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("SupportingDocID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SupportingDocID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4 ">
                        @Html.LabelFor(model => model.IsPCDisability, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @*Angular js use*@
                            @Html.CheckBoxFor(model => model.IsPCDisability, new { @class = "custom-checkbox", @ng_model = "hideIsPCDisability" })
                            @Html.ValidationMessageFor(model => model.IsPCDisability, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-6" ng-show='hideIsPCDisability'>
                        @Html.LabelFor(model => model.PCPer, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PCPer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PCPer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6" ng-show='hideIsPCDisability'>
                        @Html.LabelFor(model => model.DisabilityID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("DisabilityID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DisabilityID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer list-group-item text-muted col-md-12">
            @* left *@
            <button type="button" id="btnPrevious" name="btnPrevious" value="Previous" class="w3-btn w3-white w3-border w3-border-blue w3-round-large float-left col-md-2 w3-disabled"><i class="fa fa-arrow-circle-o-left" disabled></i> Previous</button>
            @* right *@
            <button id="btnNext" name="btnNext" value="Next" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Next <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;
            <button id="btnReset" name="btnReset" value="Reset" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Reset <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;

        </div>
        <!-- /.card-footer-->
    </div>


}
@* for image preview *@
<script src="~/wwwroot/Script/ImagePreview.js"></script>