﻿@model SP.Data.Models.Std_Health
@{
    /**/

    ViewBag.Title = "Student";
    Layout = SP.Web.Infrastructure.Layout.LayoutIStruct._StudentEditLayout;
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.StudentID)

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.Chest, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.Chest, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Chest, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.BodyColor, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.BodyColor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BodyColor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.BloodGroupID, "BloodGroupID", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("BloodGroupID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.IdentificationMark, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.IdentificationMark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdentificationMark, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6 form-group">
                @Html.LabelFor(model => model.PermanentDisease, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.PermanentDisease, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PermanentDisease, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-12 form-group">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>

    }
