﻿@model SP.Data.Models.Std_Health
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-primary card-outline direct-chat-primary">

        <div class="card-header">
            <h3 class="card-title"><br /></h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-tool" type="button" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            @*====Header====*@
            @Html.Partial("_AdmissionBreadCrumb", new SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
        {
            StudentHealth = true
        })


            @*====//Header====*@
        </div>

        <!-- /.card-header -->
        <div class="card-body">
            <div class="container-fluid">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">

                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.Chest, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.Chest, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Chest, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.BodyColor, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.BodyColor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BodyColor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.BloodGroupID, "BloodGroupID", htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownList("BloodGroupID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.IdentificationMark, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.IdentificationMark, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IdentificationMark, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" form-group col-md-4">
                        @Html.LabelFor(model => model.PermanentDisease, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PermanentDisease, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PermanentDisease, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer list-group-item text-muted col-md-12">
            @* left *@
            <button id="btnPrevious" name="btnPrevious" value="Previous" class="w3-btn w3-white w3-border w3-border-blue w3-round-large float-left col-md-2 disabled"><i class="fa fa-arrow-circle-o-left" disabled></i> Previous</button>
            @* right *@
            <button id="btnNext" name="btnNext" value="Next" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Next <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;
            <button id="btnReset" name="btnReset" value="Reset" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Reset <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;

        </div>
        <!-- /.card-footer-->
    </div>


}


