﻿@model SP.Data.Models.Std_MoreDetails
@using SP.Data
@using SP.Web.Infrastructure.Layout;
@{
    ViewBag.Title = "Student More Details";
    ViewBag.Description = "Student More Details";
    ViewBag.Icon = "fa fa-user-times";
    Layout = LayoutIStruct._AdminPanelLayout;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*====View====*@
    <div class="card card-primary card-outline direct-chat-primary">
        <div class="card-header">
            <h3 class="card-title"><br /></h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-tool" type="button" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            @*====Header====*@
            @Html.Partial("_AdmissionBreadCrumb", new SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
        {
            StudentMoreDetails = true
        })


            @*====//Header====*@
        </div>
        <!-- /.card-header -->

        <div class="card-body">
            <div class="container-fluid">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MotherTongueID, "MotherTongueID", htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("MotherTongueID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MotherTongueID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AadhaarNo, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.AadhaarNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AadhaarNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PreviousSchoolID, "PreviousSchoolID", htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.DropDownList("PreviousSchoolID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PreviousSchoolID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.PreviousClass, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.PreviousClass, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PreviousClass, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianName, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.RelationWithGuardian, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.RelationWithGuardian, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RelationWithGuardian, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianAddress, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianOccupation, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianOccupation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianOccupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianAI, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianAI, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianAI, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianQualification, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianQualification, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianQualification, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianPhoto, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianPhoto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianPhoto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianContactNo, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianContactNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianContactNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianContactNo2, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianContactNo2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianContactNo2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianVoterId, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianVoterId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianVoterId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.GuardianMailID, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            @Html.EditorFor(model => model.GuardianMailID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuardianMailID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.IsHostelNeed, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsHostelNeed)
                                @Html.ValidationMessageFor(model => model.IsHostelNeed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.IsTransportNeed, htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsTransportNeed)
                                @Html.ValidationMessageFor(model => model.IsTransportNeed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer list-group-item text-muted col-md-12">
            @* left *@
            <button id="btnPrevious" name="btnPrevious" value="Previous" class="w3-btn w3-white w3-border w3-border-blue w3-round-large float-left col-md-2 disabled"><i class="fa fa-arrow-circle-o-left" disabled></i> Previous</button>
            @* right *@
            <button id="btnNext" name="btnNext" value="Next" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Next <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;
            <button id="btnReset" name="btnReset" value="Reset" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Reset <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;

        </div>
        <!-- /.card-footer-->
    </div>

}

