﻿@model SP.Data.Models.Std_MoreDetails
@using SP.Data
@{
    ViewBag.Title = "";
    Layout = SP.Web.Infrastructure.Layout.LayoutInfrastructure._StudentEditLayout;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.StudentID)

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherTongueID,  htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownListFor(model => model.MotherTongueID, (SelectList)ViewBag.MotherTongueID, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MotherTongueID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.AadhaarNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.AadhaarNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AadhaarNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.PreviousSchoolID,  htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownListFor(model => model.PreviousSchoolID, (SelectList)ViewBag.PreviousSchoolID, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PreviousSchoolID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.PreviousClass, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.PreviousClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreviousClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.RelationWithGuardian, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.RelationWithGuardian, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelationWithGuardian, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianAddress, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianOccupation, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianOccupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianOccupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianAI, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianQualification, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianQualification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianQualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianPhoto, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianPhoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianPhoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianContactNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianContactNo2, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianContactNo2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianContactNo2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianVoterId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianVoterId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianVoterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.GuardianMailID, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.GuardianMailID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuardianMailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsHostelNeed, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsHostelNeed)
                    @Html.ValidationMessageFor(model => model.IsHostelNeed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsTransportNeed, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsTransportNeed)
                    @Html.ValidationMessageFor(model => model.IsTransportNeed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

