﻿@model SP.Data.Models.Std_ParentsDetails
@using SP.Data;
@using SP.Web.Infrastructure.Layout;

@{
    ViewBag.Title = "Student Address";
    ViewBag.Icon = "";
     ViewBag.Description = "Address of Student";
    Layout = LayoutIStruct._StudentEditLayout;
}


@using (Html.BeginForm("StdParentsDetailsEdit", "StdAdmission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentID)


        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherAddress, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherOccupation, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherOccupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherOccupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherAI, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherQualification, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherQualification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherQualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherContactNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.FatherVoterId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.FatherVoterId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FatherVoterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherAddress, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherOccupation, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherOccupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherOccupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherAI, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherQualification, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherQualification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherQualification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherContactNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.MotherVoterId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.MotherVoterId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotherVoterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 text-center">
            @Html.LabelFor(model => model.FatherPhoto, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <img id="_ImgFatherImage" class="w3-image img-bordered w3-border-brown text-center" style="height:100px;width:100px" src="#" alt="Father" />
                @Html.TextBox("infFatherPhoto", "", new { id = "infFatherPhoto", onchange = "ImagePreviewFrominputFile(this,'_ImgFatherImage')", @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(model => model.FatherPhoto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 text-center">
            @Html.LabelFor(model => model.MotherPhoto, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <img id="_ImgMotherImage" class="w3-image img-bordered w3-border-brown text-center" style="height:100px;width:100px" src="#" alt="Mother" />
                @Html.TextBox("infMotherPhoto", "", new { id = "infMotherPhoto", onchange = "ImagePreviewFrominputFile(this,'_ImgMotherImage')", @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(model => model.MotherPhoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 form-group text-right">
            <div class="col-md-offset-2 ">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@* Image Preview js
    use :ImagePreviewFrominputFile(this,imagename)*@
<script src="~/wwwroot/Script/ImagePreview.js"></script>

