﻿@model SP.Web.Areas.Student.Models.StdRegisterVM
@using SP.Web.Infrastructure.ControllerStructure.Student
@{
    /**/
    ViewBag.Title = "";
    Layout = SP.Web.Infrastructure.Layout.LayoutIStruct._AdminPanelLayout;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-info card-outline direct-chat-info">
        <!-- /.card-header -->
        <div class="card-header">
            <h3 class="card-title">
                <br />
            </h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-tool" type="button" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            @*====Header====*@
            @Html.Partial("_AdmissionBreadCrumb", new SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
        {
            Studentacademic = true
        })


            @*====//Header====*@
        </div>
        <!-- /.card-header -->

        <div class="card-body">
            <div class="container-fluid">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_Register.ClassID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model._cStd_Register.ClassID, (SelectList)ViewBag.ClassID, "--Please Select--", new { onchange = "this.form.submit();", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model._cStd_Register.ClassID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_Register.SectionID, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.DropDownListFor(model => model._cStd_Register.SectionID, (SelectList)ViewBag.SectionID, "--Please Select--", new { onchange = "generateRegisterNo()", disabled = "disabled", @class = "form-control", id = "SectionID" })
                            @Html.ValidationMessageFor(model => model._cStd_Register.SectionID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_Register.RollNo, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model._cStd_Register.RollNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model._cStd_Register.RollNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_AdmissionDetails.AdmissionNo, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model._cStd_AdmissionDetails.AdmissionNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model._cStd_AdmissionDetails.AdmissionNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_AdmissionDetails.AdmissionDate, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model._cStd_AdmissionDetails.AdmissionDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model._cStd_AdmissionDetails.AdmissionDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model._cStd_Register.RegisterNo, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model._cStd_Register.RegisterNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model._cStd_Register.RegisterNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @* Optional Data Record *@
                <div class="row">
                    <div class="alert alert-primary  col-md-12" role="alert">
                        <h5 class="alert-heading ">Others</h5>
                        <hr />
                        @* Open Bank Layout *@
                        <button type="button" onclick="document.getElementById('mdlCreateStdBank').style.display='block'" title="Bank"
                                class="fa fa-bank btn btn-default bg-light-gradient"></button>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
        <div class="card-footer list-group-item text-muted col-md-12">
            @* left *@
            <button  id="btnPrevious" name="btnPrevious" value="Previous" class="w3-btn w3-white w3-border w3-border-blue w3-round-large float-left col-md-2 disabled"><i class="fa fa-arrow-circle-o-left" disabled></i> Previous</button>
            @* right *@
            <button  id="btnFinish" name="btnFinish" value="Finish" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Finish <i class="fa fa-save"></i></button>&nbsp;&nbsp;
            <button  id="btnReset" name="btnReset" value="Reset" class="w3-btn w3-white w3-border w3-border-green w3-round-large float-right col-md-2"> Reset <i class="fa fa-arrow-circle-o-right"></i></button>&nbsp;&nbsp;

        </div>
        <!-- /.card-footer-->
    </div>


}

@* ==== Create bank Window Render==== *@
<div>
    @{Html.RenderAction(StdAdmissionIStruct.StdBankCreate.ActionName); }
</div>


<!-- /.Script -->
<script type="text/javascript">
    $(function () {
        if ($("#SectionID option").length > 1) {
            $("#SectionID").removeAttr("disabled");
        }

    });

</script>
<!-- /.Script -->
