﻿@model SP.Web.Areas.Student.Models.StdAdmissionToolsBerModels
@using SP.Data
@* ==BreadCrumb=== *@

<link href="~/wwwroot/BreadCrumb/breadcrumb.css" rel="stylesheet" />

@*<div class="card">
    <div class="card-body">*@
        <div class="stepwizard  w3-animate-bottom">
            <div class="stepwizard-row">
                @if (ViewData.ModelMetadata.Properties != null)
                {
                    int rCount = 1;
                    foreach (var property in ViewData.ModelMetadata.Properties)
                    {

                        bool valuofProperties = property.Model.ConvertObjectToBool();
                        if (!valuofProperties)
                        {
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-default btn-outline-success w3-hover-green btn-circle">@rCount</button>
                                <p class="w3-text-gray small">@property.GetDisplayName()</p>
                            </div>
                        }
                        else
                        {
                            @*Active menu*@
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-primary btn-circle">@rCount</button>
                                <p class="w3-text-green small">@property.GetDisplayName()</p>
                            </div>
                        }
                        rCount++;
                    }
                }

            </div>
        </div>
    @*</div>
</div>*@

