﻿@using SP.Web.Infrastructure.Layout
@{
    ViewBag.Title = "";
    Layout = LayoutIStruct._AdminPanelLayout;
}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <!-- STUDENT DATA LIST PRIMARY -->
            <div class="card card-primary card-outline direct-chat direct-chat-primary">
                <div class="card-header">
                    <h3 class="card-title">Student Edit</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-tool" type="button" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item active">
                            <a class="nav-link"
                               onclick="location.href='@Url.Action("StdDetailsEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-user"></i> Details
                                <span class="badge bg-primary float-right">>></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='@Url.Action("StdParentsDetailsEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-user-secret"></i>  Parent Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='@Url.Action("StdAddressEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-home"></i> Address
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='@Url.Action("StdMoreDetailsEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-file-text-o"></i> Other Details
                                <span class="badge bg-warning float-right">>></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='@Url.Action("StdHealthEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-heartbeat"></i> Helth
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='@Url.Action("StdBankEdit", "StdAdmission")'" href="javascript:;">
                                <i class="fa fa-bank"></i> Bank
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer" style="display: block;">
                </div>
                <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->
        </div>

        <!-- /.col -->
        <div class="col-md-9">
            <!--PARTIAL EDIT VIEW SUCCESS -->
            <div class="card card-success card-outline direct-chat direct-chat-success">
                <div class="card-header">
                    <h3 class="card-title">STUDENT INFORMATION</h3>
                    <div class="card-tools">
                        <button class="btn btn-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-tool" type="button" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @RenderBody()
                </div>
                <!-- /.card-body -->
                <div class="card-footer"> </div>
                <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->
        </div>

    </div>
</div>



