﻿@model SP.Data.Models.MPSubject
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "Secondary Subjects";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "Subjects of Student";

    Layout = SubjectsIStruct.AddEditMpSubjects.Layout;

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid row">
        @* for Edit *@
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.SessionId)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SubjectName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SubjectCode, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.SubjectCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
            </div>
        </div>


       

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SlNo, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.TextBoxFor(model => model.SlNo, new { @type = "number", @min = "0", @max = "100", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SlNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-offset-2 ">
                @{var saveStr = (Model != null) && (Model.ID > 0) ? "Update" : "Save";}
                <input type="submit" value=@saveStr class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}


