﻿@model SP.Data.Models.HSSubject
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "Higher Secondary Subjects";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "Subjects of Student";

    Layout = SubjectsIStruct.AddEditHsSubjects.Layout;

}

@*--- tab selecting---  *@
<script>
    $('#subjectTab1').removeClass("active")
    $('#subjectTab2').addClass("active")
</script>
@*--- //tab selecting---  *@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* For Edit *@
        @Html.HiddenFor(model => model.Id)

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SubjectName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.SubjectCode, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.SubjectCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubjectCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsLanguage, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsLanguage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsLanguage, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(model => model.IsLab, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsLab, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsLab, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group">
            <div class="col-md-offset-2 ">
                @{var saveStr = (Model != null) && (Model.Id > 0) ? "Update" : "Save";}
                <input type="submit" value=@saveStr class="btn btn-default bg-info-gradient pull-right fa fa-save " />
            </div>
        </div>
    </div>
}


