﻿@model SP.Data.Models.HSSubject
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "Student Subjects";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "Subjects of Student";

    Layout = SubjectsIStruct.DeleteHsSubjects.Layout;

}

@*--- tab selecting---  *@
<script>
    $('#subjectTab1').removeClass("active")
    $('#subjectTab2').addClass("active")
</script>
@*--- //tab selecting---  *@

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLab)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
