﻿@model SP.Data.Models.MPSubject
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "Student Subjects";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "Subjects of Student";

    Layout = SubjectsIStruct.DeleteMpSubjects.Layout;
  
}

    <h3>Are you sure you want to delete this?</h3>
    <div>
    
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SubjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubjectName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SlNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SlNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Session.VToX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Session.VToX)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>
