﻿@model IEnumerable<SP.Data.Models.HSSubject>
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "H.S. Subjects List";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "H.S. List of Subjects";

    Layout = SubjectsIStruct.MpIndex.Layout;
}

@*--- tab selecting---  *@
<script>
    $('#subjectTab1').removeClass("active")
    $('#subjectTab2').addClass("active")
</script>
@*--- //tab selecting---  *@

<p>
    @Html.ActionLink("Create New", SubjectsIStruct.AddEditHsSubjects.ActionName)
</p>

<table class="table w3-table-all table-bordered text-sm text-center">
    <tr class="bg-danger-gradient">
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsLab)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLab)
            </td>
            <td>
                @Html.ActionLink(" ", SubjectsIStruct.AddEditHsSubjects.ActionName, new { id = item.Id }, new { @class = "fa fa-edit w3-hover-text-green" }) &nbsp;
                @Html.ActionLink(" ", SubjectsIStruct.DeleteHsSubjects.ActionName, new { id = item.Id }, new { @class = "fa fa-close w3-hover-text-red" })

            </td>
        </tr>
    }

</table>
