﻿@model IEnumerable<SP.Data.Models.MPSubject>
@using SP.Web.Infrastructure.ControllerStructure.Subject
@{
    ViewBag.Title = "M.P. Subjects List";
    ViewBag.Icon = "fa fa-book";
    ViewBag.Description = "M.P. List of Subjects";

    Layout = SubjectsIStruct.MpIndex.Layout;
}
@*--- tab selecting---  *@
<script>
    $('#subjectTab2').removeClass("active")
    $('#subjectTab1').addClass("active")
</script>
@*--- //tab selecting---  *@
<p>
    @Html.ActionLink("Create New", SubjectsIStruct.AddEditMpSubjects.ActionName)
</p>
<table class="table w3-table-all table-bordered text-sm text-center">
    <tr class="bg-danger-gradient">
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session.VToX)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Session.VToX)
            </td>
            <td>
                @Html.ActionLink(" ", SubjectsIStruct.AddEditMpSubjects.ActionName, new { id = item.ID }, new { @class = "fa fa-edit w3-hover-text-green" }) &nbsp;
                @Html.ActionLink(" ", SubjectsIStruct.DeleteMpSubjects.ActionName, new { id = item.ID }, new { @class = "fa fa-close w3-hover-text-red" })
            </td>
        </tr>
    }

</table>
