﻿@model SP.Web.Models.HSSubjectsCombination
@using SP.Web.Infrastructure.AjaxStructure
@using SP.Data.Models
@{
    ViewBag.Title = "H.S. Subject Combination";
    Layout = null;
}
<div id="divHsSubjectCombinationUpdate">

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divHsSubjectCombinationUpdate", LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading }))
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("GroupId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StreamId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StreamId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StreamId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            <div class="col-md-12 card card-info card-outline">
                <div class="card-header"><div class="card-title"></div></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.HSSubject.SubjectName)
                                </th>
                                <th><i class="fa fa-list-alt"></i></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                var subCombinationData = (List<HSSubjectsCombination>)ViewBag.lstMpSubjectsCombinations;
                                if (subCombinationData != null)
                                {

                                    foreach (var item in subCombinationData)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HSSubject.SubjectName)
                                            </td>

                                            <td>
                                                @Html.ActionLink(" ", "DeleteMpCombinationSubject",
                                                     new { SubID = item.Id, GrpId = Model.GroupId }, new { @class = "fa fa-close w3-hover-text-red" })
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
