﻿@model SP.Data.Models.MPSubjectsCombination
@using SP.Web.Infrastructure.AjaxStructure
@using SP.Data.Models
@{
    /**/

    ViewBag.Title = "";
    Layout = null;
}

<div id="replace-this" class="container-fluid">

            @{ using (Ajax.BeginForm("MpSubCombCreate", "SubjectsCombinations",
                  new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace-this", LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading }))
                {
                   @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-12 card card-danger  card-outline ">
                        <div class="card-header"><div class="card-title">Group Details</div></div>
                        <div class="card-body row">
                            <div class=" col-md-6 form-group">
                                @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownList("GroupId", (SelectList)ViewBag.GroupId, new { onchange = "$('#btnPostBackView').click();", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class=" col-md-6 form-group">
                                @Html.LabelFor(model => model.ClassId, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownList("ClassId", (SelectList)ViewBag.ClassId, new { onchange = "$('#btnPostBackView').click();", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @* use for post back the DropDownList *@
                            <input type="submit" value="postBack" id="btnPostBackView" name="btnPostBackView" style="display:none" />
                        </div>
                    </div>

                    <div class="col-md-12 card card-info card-outline">
                        <div class="card-header"><div class="card-title">Subject Details</div></div>
                        <div class="card-body row">
                            <div class=" col-md-6 form-group">
                                @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownList("SubjectId", (SelectList)ViewBag.SubjectId, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4 form-group">
                                @Html.LabelFor(model => model.SubjectType, htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.DropDownListFor(model => model.SubjectType, new List<SelectListItem>
                             () { new SelectListItem() { Text = "Main", Value = "Main" }, new SelectListItem() { Text = "Optional", Value = "Optional" } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SubjectType, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class=" col-md-2 form-group align-middle">
                                <div class="col-md-offset-2 ">
                                    <br />
                                    <input type="submit" id="btnAddSubCombination" name="btnAddSubCombination" value="Create" class="btn btn-default bg-primary-gradient pull-right" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 card card-info card-outline">
                        <div class="card-header"><div class="card-title"></div></div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MPSubject.SubjectName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubjectType)
                                        </th>
                                        <th><i class="fa fa-pencil"></i></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        var subCombinationData = (List<MPSubjectsCombination>)ViewBag.lstMpSubjectsCombinations;
                                        if (subCombinationData != null)
                                        {

                                            foreach (var item in subCombinationData)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MPSubject.SubjectName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SubjectType)
                                                    </td>

                                                    <td>
                                                        <input type="submit" id="btnDelete" name="btnDelete" value=@item.Id class="btn btn-default" />

                                                        @Html.ActionLink(" ", "DeleteMpCombinationSubject",
                                                             new { SubID = item.Id, GrpId = Model.GroupId }, new { @class = "fa fa-close w3-hover-text-red" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                }
            }
        </div>