﻿@using SP.Web.Infrastructure.Layout
@using SP.Web.Infrastructure.ControllerStructure.Fees
@using SP.Data.Fees.ControllersTools
@{
    Layout = LayoutIStruct._AdminPanelLayout;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card card-danger card-outline direct-chat direct-chat-danger  w3-card-4">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3 fa fa-id-card"> Fees List </h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        @* tab-1 *@
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_1" data-toggle="tab" id="feesTab_DUE"
                               onclick="location.href='@Url.Action(FeesIStruct.Index.ActionName, FeesIStruct.Index.ControllerName,new { type="DUE"})'">
                                <i class="fa fa-leaf"></i>&nbsp;Due List
                            </a>
                        </li>

                        @* tab-2 *@
                        <li class="nav-item">

                            <a class="nav-link" href="#tab_1" data-toggle="tab" id="feesTab_PAID"
                               onclick="location.href='@Url.Action(FeesIStruct.Index.ActionName, FeesIStruct.Index.ControllerName,new {type="PAID"})'">
                                <i class="fa fa-leaf"></i>&nbsp; Paid List
                            </a>
                        </li>

                        @* tab-3 *@
                        <li class="nav-item">
                            <a class="nav-link" href="#tab_1" data-toggle="tab" id="feesTab_ALL"
                               onclick="location.href='@Url.Action(FeesIStruct.Index.ActionName, FeesIStruct.Index.ControllerName,new {type="ALL"})'">
                                <i class="fa fa-leaf"></i>&nbsp; All
                            </a>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">

                    <div class="tab-content p-3">

                        <div class="tab-pane active" id="tab_1">
                           @RenderBody();
                        </div>

                        <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </div>


</div>



