﻿@model SP.Web.Areas.Fees.Models.CustomFeesBillVM
@using SP.Web.Infrastructure.ControllerStructure.Fees
@{
    ViewBag.Title = "Custom Bill Generate";
    ViewBag.Icon = "fa fa-street-view";
    ViewBag.Description = "Bill Generate";

    Layout = FeesBillIStruct.CustomFeesBill.Layout;

    var isMonthly = ViewBag.IsMonthly;//Monthy Or Yearly Fees

}

<div id="dvCustomBillModal" class="w3-modal" style="display:block;">

    <div class="w3-modal-content w3-card-4 w3-animate-zoom  card" style="max-width:600px">

        <div class="card-header card-outline card-danger">
            Custom Bill
            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="card-body p-0 mx-3">
            @using (Html.BeginForm(FeesBillIStruct.CustomFeesBill.ActionName,
                FeesBillIStruct.CustomFeesBill.ControllerName, FormMethod.Post, new { id = "frmCustomBillModal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <ul class="nav nav-pills flex-column">
                    @* Student Details *@
                    <li class="nav-item">
                        <div class="row ">
                            @* STUDENTID & REGISTERNO *@
                            @Html.HiddenFor(model => model._StudentListView.StudentID)
                            @Html.HiddenFor(model => model._StudentListView.RegisterNo)
                            @Html.HiddenFor(model => model._StudentListView.Std_Register_ClassID)
                            @*  BillId*@
                            @Html.HiddenFor(model => model._FeesBillDetails.BillId)

                            <div class="col-md-6 form-group ">
                                @Html.LabelFor(model => model._StudentListView.StudentName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                @Html.DisplayFor(model => model._StudentListView.StudentName, new { @class = "form-control form-control-sm" })
                            </div>


                            <div class="col-md-2 form-group ">
                                @Html.LabelFor(model => model._StudentListView.ClassName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                @Html.DisplayFor(model => model._StudentListView.ClassName, new { @class = "form-control form-control-sm" })
                            </div>

                            <div class="col-md-2 form-group">
                                @Html.LabelFor(model => model._StudentListView.SectionName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                                @Html.DisplayFor(model => model._StudentListView.SectionName, new { @class = "form-control form-control-sm" })
                            </div>

                            <div class="col-md-2 form-group ">
                                @Html.LabelFor(model => model._StudentListView.RollNo, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                @Html.DisplayFor(model => model._StudentListView.RollNo, new { @class = "form-control form-control-sm" })

                            </div>
                        </div>
                    </li>

                    @if (isMonthly)
                    {
                        <li class="nav-item">
                            <div class="row">

                                @{
                                    if (Model != null && Model._Months.Count() > 0)
                                    {
                                        for (int i = 0; i < Model._Months.Count(); i++)
                                        {

                                            <div class="col-md-6">

                                                @Html.CheckBoxFor(m => Model._Months[i].IsSelected, new {  @class = "w3-check" })
                                                &nbsp;
                                                @Html.TextBoxFor(m => Model._Months[i].MonthName, new { @readonly = "readonly", @style = "border:0px;background-color: transparent;" })
                                            </div>

                                        }
                                    }

                                }
                            </div>
                        </li>
                    }

                    @* CustomFees Bill *@
                    <li class="nav-item">
                        <div class="row ">
                           <div class="col-md-6 form-group ">
                                @Html.LabelFor(model => model.LedgerId, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                @Html.DropDownListFor(model => model.LedgerId, (SelectList)ViewBag.LedgerId, "--Select --", new { @id = "LedgerId", @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model.LedgerId, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6 form-group ">
                                @Html.LabelFor(model => model._FeesBillDetails.Fees, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                @Html.TextBoxFor(model => model._FeesBillDetails.Fees, new { @id = "Fees", @readonly = "readonly", @class = "form-control form-control-sm" })
                                @Html.ValidationMessageFor(model => model._FeesBillDetails.Fees, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-12 form-group ">
                                <button type="submit" id="btnSave" name="btnSave" value="btnSave"
                                        class="btn btn-tool w3-green  w3-hover-red w3-round pull-right">
                                    <i class="fa fa-save"></i> &nbsp;Save
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>

        <div class="card-footer w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('dvCustomBillModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
            <span class="w3-right w3-padding w3-hide-small"><< <a href="#">Back</a></span>
        </div>
    </div>
</div>



@* ==============Script Section================ *@
@* Button submit time *@
<script type="text/javascript">
   
    $("#btnSave").confirm({
        text: "Are You Sure Generate This Student Bill ?",
        confirm: function () {
            $("#frmCustomBillModal").submit();
        },
        cancel: function (button) {
            alert("You aborted the operation.");
        },
        confirmButton: "Generate",
        cancelButton: "No"
    });
</script>

@* For Get data *@
<script type="text/javascript">
    $(document).ready(function () {
        $("#LedgerId").on("change", function () {
            var ledgerId = $("#LedgerId :selected").val();
            var classId = @Model._StudentListView.Std_Register_ClassID;
        $.ajax({
            url: "/Fees/FeesBill/GetFeesAmount",
            type: "GET", //send it through get method
            data: {
                ClassId: classId,//Class Id
                LedgerId:ledgerId
            },
            success: function (response) {
                $("#Fees").val(response);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
            });
            return false;
        });
    });
</script>

@* ==============Script Section================ *@