﻿@model List<SP.Web.Areas.Fees.Models.FeesBillVM>

@{
                /**/

                ViewBag.Title = "Bill Generate";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table id="tblFeesBillList" class="table table-striped table-bordered text-sm  nowrap text-center" style="width:100%" >
            <tr class="bg-info-gradient">
                <th>
                    @Html.DisplayNameFor(model => model.First().IsBillGenerate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().RegisterNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().StudentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SectionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().RollNo)
                </th>
               
            </tr>

            @{
                if (Model != null && Model.Count() > 0)
                {
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr class="text-center">
                            @* ==StudentId== *@
                            @Html.HiddenFor(m => Model[i].StudentId)
                            @Html.HiddenFor(m => Model[i].ClassId)

                            <td>
                                @Html.CheckBoxFor(m => Model[i].IsBillGenerate)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => Model[i].RegisterNo,new { @readonly = "readonly", @style = "border:0px;background-color: transparent;" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => Model[i].StudentName, new { @readonly = "readonly", @style = "border:0px;background-color: transparent;" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => Model[i].SectionName, new { @readonly = "readonly", @style= "border:0px;background-color: transparent;" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => Model[i].RollNo, new { @readonly = "readonly", @style= "border:0px;background-color: transparent;" })
                            </td>
                        </tr>
                    }
                }
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <button type="submit" id="btnBillGenerate" name="btnBillGenerate" value="Generate" class="btn btn-outline-primary w3-border w3-hover-border-red w3-round-large pull-right col-md-2"> Generate <i class="fa fa-gears"></i></button>&nbsp;&nbsp;
            </div>
        </div>
    </div>
}
@* For text box border and background change *@
<style>
    
</style>
