﻿@model IEnumerable<SP.Data.Models.FeesBillView>
@{
    ViewBag.Title = "Student Fees Details";
    ViewBag.Icon = "fa fa-street-view";
    ViewBag.Description = "Fees Details";

    Layout = null;

    var isMonthly = ViewBag.IsMonthly;//Monthy Or Yearly Fees

}
<div id="dvStudentFeesDetails" class="w3-modal" style="display:block;">

    <div class="w3-modal-content w3-card-4 w3-animate-zoom  card">

        <div class="card-header card-outline card-danger">
            @ViewBag.Title ::  RegisterNo : @Html.DisplayFor(modelItem => Model.FirstOrDefault().RegisterNo)
            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="card-body p-0 mx-3">
           
            <div class="table-responsive">
                <table class="table w3-table-all">
                    <thead>
                        <tr>
                            <td class="bg-danger-gradient">
                                @Html.DisplayNameFor(model => model.LedgerName)
                            </td>
                            @if (isMonthly)
                            {
                                <th class="bg-success-gradient">
                                    @Html.DisplayNameFor(model => model.Month)
                                </th>
                            }

                            <th>
                                @Html.DisplayNameFor(model => model.FeesBillDetails_Fees)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaidFees)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DueFees)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Concession)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BillType)
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="bg-danger-gradient">
                                @Html.DisplayFor(modelItem => item.LedgerName)
                            </td>
                            @if (isMonthly)
                            {
                                <td class="bg-success-gradient">
                                    @Html.DisplayFor(modelItem => item.Month)
                                </td>
                            }
                            <td class="bg-info-gradient">
                                @Html.DisplayFor(modelItem => item.FeesBillDetails_Fees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaidFees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueFees)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Concession)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BillType)
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>

        <div class="card-footer w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('dvStudentFeesDetails').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        </div>
    </div>
</div>
