﻿@model SP.Web.Areas.Student.Models.StdCerificateVM
@using SP.Data.Enums;
@using SP.Web.Infrastructure.Layout;
@{
    ViewBag.Title = "Certificates";
    ViewBag.Description = "Students Certificates";
    ViewBag.Icon = "fa fa-certificates";
    Layout = LayoutIStruct._AdminPanelLayout;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Certificate-->
    <div class="card">
        <div class="card-header card-outline card-warning">
            <h3 class="card-title">Certificate </h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="card-body p-0 mx-3">

            @Html.HiddenFor(m => m.RegisterNo)

            <div class="form-group">
                @Html.LabelFor(model => model.CertificateName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownListFor(model => model.CertificateName, (IEnumerable<SelectListItem>)ViewBag.CertificateName,"--Select--",htmlAttributes: new { @class = "form-control form-control-sm", @id = "CertificateName" })
                    @Html.ValidationMessageFor(model => model.CertificateName, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" value="btnIssueHistory" name="btnIssueHistory" id="btnIssueHistory" class="btn btn-app "><i class=" fa fa-history"></i>&nbsp;Issu History</button>

            <button type="submit" value="Character" class="btn btn-app "><i class=" fa fa-file-pdf-o"></i>&nbsp;Character Certificate</button>
        </div>

    </div>
    <!--//Certificate-->

    <!--History Of Certificate-->
    <div class="card">
        <div class="card-header card-outline card-primary">
            <h3 class="card-title">Issue History </h3>
            <div class="card-tools">
                <button class="btn btn-tool" type="button" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="card-body p-0">
            <table class="display table table-striped table-bordered text-sm nowrap text-center " style="width:100%">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                          
                        </th>
                    </tr>
                </thead>
                <tbody>
                   

                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>

                           
                        </tr>
                  
                </tbody>
            </table>
        </div>

        <div class="card-footer">
              </div>

    </div>


    <!--//History Of Certificate-->
}

<script>
    //===TABLE CODE==
    $(function () {

        $('#tblcertificateIssue').DataTable({

            // "scrollY": 500,
            "scrollX": true,
            scrollCollapse: true
            },

           
        });
 
 
</script>
