﻿@model SP.Data.Models.Class
@using SP.Web.Infrastructure.ControllerStructure.Academic
@{
    //ViewBag.Title = "";
    Layout = ClassesIStruct.CreateAndEdit.Layout;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-warning  card-outline">
        <div class="card-header">
            <h3 class="card-title"><i class=""></i>  Add Class</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->

        <div class="card-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @* For Edit *@
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.SessionId)
            @Html.HiddenFor(model => model.SlNo)

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextBoxFor(model => model.ClassName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <!-- /.card-body -->


        <div class="card-footer">
            <div class="form-group text-right">
                <div class="col-md-offset-2">
                    <button id="btnSave" name="btnSave" value="Save" class="btn btn-default bg-info-gradient w3-round-large float-sm-right">  <i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
}

