﻿@model SP.Data.Models.Session
@{
    ViewBag.Title = "Default Session Set";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="form-group">
        @Html.LabelFor(model => model.VToX, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.DropDownList("VToX",null, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.VToX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.XIToXII, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.DropDownList("XIToXII",null,  new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.XIToXII, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
