﻿@model IEnumerable<SP.Data.Models.Session>

@{
    ViewBag.Title = "Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.XIToXII)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VToX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefultHS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.XIToXII)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VToX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefultHS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
