﻿@using SP.Web.Infrastructure.ControllerStructure._PartialViews
@using SP.Data.session;
@using SP.Web.Infrastructure.AjaxStructure

@*//Step-1*@
<div id="divClassWithSec" class="container-fluid">


    @*//Step-2*@
    @{ using (Ajax.BeginForm(SessionWithClassViewIStruct.SessionWithClassAndSecView.ActionName, SessionWithClassViewIStruct.SessionWithClassAndSecView.ControllerName,
                  new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divClassWithSec", LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading }))
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("SessionID", (SelectList)ViewBag.Session, "--Please Select--", new { onchange = "$('#btnPostBackView').click();", @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("ClassID", (SelectList)ViewBag.Class, "--Please Select--", new { onchange = "$('#btnPostBackView').click();", @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("SectionID", (SelectList)ViewBag.Section, "--Please Select--", new { onchange = "$('#btnPostBackView').click();", disabled = "disabled", @class = "form-control" })
                </div>
            </div>
            <input type="submit" value="postBack" id="btnPostBackView" name="btnPostBackView" style="display:none" />
        }
    }
    @*//Step- 3*@
    <script type="text/javascript">
        $(function () {
            //if ($("#ClassID option").length > 1) {
            //    $("#ClassID").removeAttr("disabled");
            //}
            if ($("#SectionID option").length > 1) {
                $("#SectionID").removeAttr("disabled");
            }


        });

    </script>


</div>