﻿@{
    ViewBag.Title = "Error";
}

<div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

        <p>
            There was an error processing your request. Please, try again.<br>
            If the problem persists, contact support.
        </p>

        <a href="@Url.Action("Index", "Home")" class="btn btn-default" role="button">Back To Home >></a>
    </div>
</div>