﻿@{
    ViewBag.Title = "Not Found";
}

<div class="error-page">
    <h2 class="headline text-red">404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Page Not Found</h3>

        <p>
            The page you were looking for could not be found. Please, try again.<br>
            If the problem persists, contact support.
        </p>

        <a href="@Url.Action("Index", "Home")" class="btn btn-default" role="button">Back To Home>></a>
    </div>
</div>