﻿@model SP.Web.Areas.Fees.Models.FeesCollectionVM
@using SP.Data.Account.Models
@using SP.Web.Infrastructure.ControllerStructure.Fees
@using SP.Web.Infrastructure.AjaxStructure

@{
    ViewBag.Title = "Fees Collect View";
    ViewBag.Icon = "fa fa-street-view";
    ViewBag.Description = "Fees Collect";

    Layout = FeesIStruct.FeesCollection.Layout;

    var isMonthly = ViewBag.IsMonthly;//Monthy Or Yearly Fees
}

@* Remove table Paddig and Margin *@
<style>
    table#tblCompulsoryFees tr td, table#tblCustomFees tr td {
        padding: 2px !important;
        margin: 0 !important;
    }
</style>
@* //Remove table Paddig and Margin *@

<div id="dvFeesCollectionModal" class="w3-modal" style="display:block">

    <div id="dvDragable" class="w3-modal-content w3-card-4 w3-animate-zoom card  w3-border-green" >
        <div class="card-header card-outline card-success w3-border-red">
            <h3 class="card-title"> <i class="fa fa-money"></i> &nbsp;@ViewBag.Description</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0 mx-3" >
            @*id="divFeesCollectionUpdate"*@
            @*@using (Ajax.BeginForm(FeesIStruct.FeesCollection.ActionName, FeesIStruct.FeesCollection.ControllerName,
                    //new { type = _FeesType },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "divFeesCollectionUpdate",
                        LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading
                    }))
            {*@

            @using (Html.BeginForm(FeesIStruct.FeesCollection.ActionName, FeesIStruct.FeesCollection.ControllerName))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--  Payment Details-->
                <div>
                    <!-- STUDENT DATA LIST PRIMARY -->

                    <ul class="nav nav-pills flex-column">
                        @* Student Details *@
                        <li class="nav-item active">
                            <div class="nav-link">
                                <div class="  row">
                                    @* STUDENTID & REGISTERNO *@
                                    @Html.HiddenFor(model => model._StudentListView.StudentID)
                                    @Html.HiddenFor(model => model._StudentListView.RegisterNo)
                                    @Html.HiddenFor(model => model._FeesPaymentDetail.BillId)

                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model._StudentListView.StudentName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.DisplayFor(model => model._StudentListView.StudentName, new { @class = "form-control form-control-sm" })
                                    </div>


                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model._StudentListView.ClassName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.DisplayFor(model => model._StudentListView.ClassName, new { @class = "form-control form-control-sm" })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model._StudentListView.SectionName, htmlAttributes: new { @class = "col-form-label col-form-label-sm" })
                                        @Html.DisplayFor(model => model._StudentListView.SectionName, new { @class = "form-control form-control-sm" })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model._StudentListView.RollNo, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.DisplayFor(model => model._StudentListView.RollNo, new { @class = "form-control form-control-sm" })

                                    </div>
                                </div>
                            </div>
                        </li>

                        @* Payment Details *@
                        <li class="nav-item">
                            <div class="nav-link">
                                <div class="row ">
                                    <div class="col-md-2 form-group ">
                                        @Html.LabelFor(model => model._FeesPaymentDetail.BillNo, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.TextBoxFor(model => model._FeesPaymentDetail.BillNo, new { @class = "form-control form-control-sm" })
                                        @Html.ValidationMessageFor(model => model._FeesPaymentDetail.BillNo, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="col-md-2 form-group ">
                                        @Html.LabelFor(model => model._FeesPaymentDetail.Date, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.EditorFor(model => model._FeesPaymentDetail.Date, new { htmlAttributes = new { @class = "form-control form-control-sm", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model._FeesPaymentDetail.Date, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 form-group">
                                        @Html.LabelFor(model => model._FeesPaymentDetail.Status, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.DropDownListFor(model => model._FeesPaymentDetail.Status, (IEnumerable<SelectListItem>)ViewBag.Status, htmlAttributes: new { @class = "form-control form-control-sm", @id = "Status" })
                                    </div>

                                    <div class="col-md-6 form-group ">
                                        @Html.LabelFor(model => model.Narration, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                        @Html.TextBoxFor(model => model.Narration, new { @class = "form-control form-control-sm" })

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- STUDENT DATA LIST PRIMARY -->
                    <!-- COMPULSORY FEES -->
                    <div class="card ">
                        <div class="card-header  card-outline card-danger">
                            <h3 class="card-title">Compulsory Fees</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @if (isMonthly)
                                {
                                    <button type="button" onclick="document.getElementById('id01').style.display='block'"
                                            class="btn btn-tool w3-red w3-hover-green w3-round">
                                        <i class="fa fa-calendar"></i> &nbsp;Months
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive-sm">
                                <table class="table table-bordered w3-table-all text-sm w3-border-green nowrap text-center table-valign-middle" id="tblCompulsoryFees">

                                    <thead>
                                        <tr class="d-sm-flex" style="background:linear-gradient(#c4faee,#81faef)">

                                            <th class="col-5">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().LedgerName)
                                            </th>
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().Fees)
                                            </th>

                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().PreviousDueFees)
                                            </th>

                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().PaidFees)
                                            </th>
                                            @if (!isMonthly)
                                            {
                                                <th class="col">
                                                    @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().Concession)
                                                </th>
                                            }
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCompulsory.First().DueFees)
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            if (Model != null && Model._FeesPaymentDetailVMForCompulsory != null && Model._FeesPaymentDetailVMForCompulsory.Count() > 0)
                                            {

                                                for (int i = 0; i < Model._FeesPaymentDetailVMForCompulsory.Count(); i++)
                                                {
                                                    @*Hiden Id For Get Data*@
                                                    @Html.HiddenFor(m => Model._FeesPaymentDetailVMForCompulsory[i].LedgerId)
                                                    @Html.HiddenFor(m => Model._FeesPaymentDetailVMForCompulsory[i].FeesAmountId)

                                                    <tr class="d-sm-flex">

                                                        <td class="col-5" style="background:linear-gradient(#c4faee,#81faef)">
                                                            @Html.DisplayFor(m => Model._FeesPaymentDetailVMForCompulsory[i].LedgerName)
                                                        </td>

                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCompulsory[i].Fees, new { @id = "Fees", @readonly = "readonly", @class = "form-control text-right form-control-sm" })
                                                        </td>
                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCompulsory[i].PreviousDueFees, new { @id = "PreviousDueFees", @readonly = "readonly", @class = "PreviousDueFees form-control text-right form-control-sm" })
                                                        </td>
                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCompulsory[i].PaidFees, new { @id = "PaidFees", @type = "number", @min = "0", @step = "0.01", @class = "PaidFees form-control text-right form-control-sm" })
                                                            @Html.ValidationMessageFor(m => Model._FeesPaymentDetailVMForCompulsory[i].PaidFees, "", new { @class = "text-danger" })
                                                        </td>

                                                        @if (!isMonthly)
                                                        {
                                                            <td class="col">
                                                                @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCompulsory[i].Concession, new { @id = "Concession", @type = "number", @min = "0", @step = "0.01", @class = "Concession form-control text-right  form-control-sm" })
                                                                @Html.ValidationMessageFor(m => Model._FeesPaymentDetailVMForCompulsory[i].Concession, "", new { @class = "text-danger" })
                                                            </td>
                                                        }
                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCompulsory[i].DueFees, new { @id = "DueFees", @readonly = "readonly", @class = "DueFees form-control text-right  form-control-sm" })
                                                        </td>
                                                    </tr>

                                                }
                                            }

                                        }
                                    </tbody>


                                    @* for grand Total Show Purpose *@
                                    <tfoot>
                                        <tr class="d-sm-flex" style="background:linear-gradient(#f7bf9a,#fae08d)">

                                            <td class="col-5">
                                                Total :
                                            </td>
                                            <td class="col"></td>

                                            <td class="col"></td>

                                            <td class="col">
                                                <input type="text" class="grdtotPaidFees form-control text-right  form-control-sm" value="" name="grdtotPaidFees" readonly>
                                            </td>
                                            @if (!isMonthly)
                                            {
                                                <td class="col">
                                                    <input type="text" class="grdtotConcession form-control text-right  form-control-sm" value="" name="grdtotConcession" readonly>
                                                </td>
                                            }
                                            <td class="col">
                                                <input type="text" class="grdtotDueFees form-control text-right  form-control-sm" value="" name="grdtotDueFees" readonly>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- COMPULSORY FEES -->
                    <br />
                    <!-- CUSTOM/FINE FEES -->
                    <div class="card">
                        <div class="card-header card-outline card-warning">
                            <h3 class="card-title">Custom Fees</h3>

                            <div class="card-tools">

                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                @* Custom Bill Generate link *@
                                <a href="#" onclick="location.href='@Url.Action(FeesBillIStruct.CustomFeesBill.ActionName, FeesBillIStruct.CustomFeesBill.ControllerName,new {RegNo= Model._StudentListView.RegisterNo})'"
                                   class="btn btn-tool w3-red w3-hover-green w3-round">
                                    <i class="fa fa-newspaper-o"></i> &nbsp;Custom/Fine
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-0">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered text-sm  nowrap text-center w3-table-all w3-border-blue" style="width:100%" id="tblCustomFees">
                                    <thead>
                                        <tr class="d-sm-flex" style="background:linear-gradient(#c4faee,#81faef)">


                                            <th class="col-5">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().LedgerName)
                                            </th>
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().Fees)
                                            </th>
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().PreviousDueFees)
                                            </th>
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().PaidFees)
                                            </th>
                                            @if (!isMonthly)
                                            {
                                                <th class="col">
                                                    @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().Concession)
                                                </th>
                                            }
                                            <th class="col">
                                                @Html.DisplayNameFor(model => model._FeesPaymentDetailVMForCustom.First().DueFees)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model != null && Model._FeesPaymentDetailVMForCustom != null && Model._FeesPaymentDetailVMForCustom.Count() > 0)
                                            {
                                                for (int i = 0; i < Model._FeesPaymentDetailVMForCustom.Count(); i++)
                                                {
                                                    @*Hiden Id For Get Data*@
                                                    @Html.HiddenFor(m => Model._FeesPaymentDetailVMForCustom[i].LedgerId)
                                                    @Html.HiddenFor(m => Model._FeesPaymentDetailVMForCustom[i].FeesAmountId)

                                                    <tr class="d-sm-flex">

                                                        <td class="col-5" style="background:linear-gradient(#c4faee,#81faef)">
                                                            @Html.DisplayFor(m => Model._FeesPaymentDetailVMForCustom[i].LedgerName)
                                                        </td>

                                                        <td class="col">
                                                            @Html.DisplayFor(m => Model._FeesPaymentDetailVMForCustom[i].Fees, new { @readonly = "readonly", @class = "form-control text-right form-control-sm" })
                                                        </td>

                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCustom[i].PreviousDueFees, new { @readonly = "readonly", @class = "form-control form-control-sm text-right " })
                                                        </td>

                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCustom[i].PaidFees, new { @type = "number", @min = "0", @step = "0.01", @class = "form-control form-control-sm text-right" })
                                                            @Html.ValidationMessageFor(m => Model._FeesPaymentDetailVMForCustom[i].PaidFees, "", new { @class = "text-danger" })
                                                        </td>
                                                        @if (!isMonthly)
                                                        {
                                                            <td class="col">
                                                                @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCustom[i].Concession, new { @type = "number", @min = "0", @step = "0.01", @class = "form-control form-control-sm text-right" })
                                                                @Html.ValidationMessageFor(m => Model._FeesPaymentDetailVMForCustom[i].Concession, "", new { @class = "text-danger" })

                                                            </td>
                                                        }
                                                        <td class="col">
                                                            @Html.TextBoxFor(m => Model._FeesPaymentDetailVMForCustom[i].DueFees, new { @readonly = "readonly", @class = "form-control form-control-sm text-right" })
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- CUSTOM/FINE FEES -->
                    @* ---SAVE--- *@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <button type="submit" name="btnPay" value="btnPay" class="btn btn-primary  pull-right" id="btnPay">
                                <i class="fa fa-save"></i> Payment
                            </button>
                            <br />
                        </div>
                    </div>
                    @* ---SAVE--- *@

                </div>

                <!-- // Payment Details-->

                <!--  TRANSECTION MODE CASH BANK Modal;-->
                <div>
                    <!-- Modal -->
                    <div class="modal fade" id="dlgTransDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Bank Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group ">
                                            @Html.LabelFor(model => model._FeesPaymentDetail.PaymentByBankID, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                            @Html.DropDownListFor(model => model._FeesPaymentDetail.PaymentByBankID, (SelectList)ViewBag.PaymentByBankID, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="col-md-6 form-group ">
                                            @Html.LabelFor(model => model._FeesPaymentDetail.ChequeNo, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                            @Html.TextBoxFor(model => model._FeesPaymentDetail.ChequeNo, new { @class = "form-control form-control-sm" })

                                        </div>
                                        <div class="col-md-6 form-group ">
                                            @Html.LabelFor(model => model._FeesPaymentDetail.Date, htmlAttributes: new { @class = "col-form-label col-form-label-sm" }) :
                                            @Html.TextBoxFor(model => model._FeesPaymentDetail.Date, new { @class = "form-control form-control-sm" })

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  TRANSECTION MODE CASH BANK Modal;-->

                <!--  MONTHS MNODAL;-->
                if (isMonthly)
                {
                    <div >
                        <!-- Modal -->
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                                <div class="w3-center">
                                    <br>
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                    <br>
                                </div>

                                <div class="w3-container  w3-card-4" style="border:1px solid #f00; height: 200px; overflow-y: scroll;">

                                    <div class="row">

                                        @{
                                            if (Model != null && Model._Months.Count() > 0)
                                            {
                                                for (int i = 0; i < Model._Months.Count(); i++)
                                                {

                                                    <div class="col-md-6">

                                                        @Html.CheckBoxFor(m => Model._Months[i].IsSelected, new { @class = "clsMonth w3-check" })
                                                        &nbsp;
                                                        @Html.TextBoxFor(m => Model._Months[i].MonthName, new { @readonly = "readonly", @style = "border:0px;background-color: transparent;" })

                                                    </div>

                                                }
                                            }

                                        }
                                    </div>
                                </div>
                                @*onclick="document.getElementById('id01').style.display='none'"*@
                                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                    <button id="btnMonthChange" name="btnMonthChange" value="btnMonthChange" type="submit" class="w3-button w3-red pull-right">OK</button>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                <!--  MONTHS MNODAL;-->
            }

        </div>
        <!-- /.card-body -->
    </div>

</div>


<!--    SCRIPT SECTION -->
<script src="~/wwwroot/Script/Fees/FeesCollection.js"></script>
<script>
$( function() {
    $( "#dvDragable" ).draggable();
  } );
  </script>
<!--    SCRIPT SECTION -->
