﻿@model IEnumerable<SP.Data.Fees.Models.StudentFeesListVM>
@using SP.Web.Infrastructure.ControllerStructure.Fees
@using SP.Web.Infrastructure.AjaxStructure
@{
    var dvAjaxUpdate = "divAjaxUpdate";
    var tbl_Name = "tbl_FeesView";
    var _FeesType = ViewBag.type;
}

<style>
    table#@tbl_Name tr td{
        padding: 2px !important;
        margin: 0 !important;
    }
</style>

<div id="@dvAjaxUpdate">
    @using (Ajax.BeginForm(FeesIStruct.PartialIndex.ActionName, FeesIStruct.PartialIndex.ControllerName,
       new { type = _FeesType },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = dvAjaxUpdate,
            LoadingElementId = AjaxFormIStruct.AjaxBeginFormLoading
        }))
    {


        <div class="form-group">
            @Html.Label("Class", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("FilterClassID", (SelectList)ViewBag.FilterClassID, "--Please Select--", new { id = "FilterClassID", onchange = "$('#btnPostBackView').click();", @class = "form-control" })
            <input type="submit" value="postBack" id="btnPostBackView" name="btnPostBackView" style="display:none" />
        </div>
    }

    <div class="table-responsive-sm">
        <table class="table table-striped table-bordered text-sm  nowrap text-center table-valign-middle w3-table-all" style="width:100%" id="@tbl_Name">
            <thead>
                <tr class="">
                    <th class="bg-danger-gradient">
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>

                    <th class="bg-info-gradient">
                        @Html.DisplayNameFor(model => model.RegisterNo)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.SectionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RollNo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Fees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaidFees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueFees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Concession)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="bg-danger-gradient">
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>

                  
                    <td class="bg-info-gradient">
                        @Html.DisplayFor(modelItem => item.RegisterNo)
                    </td>
                    

                    <td>
                        @Html.DisplayFor(modelItem => item.SectionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RollNo)
                    </td>


                    @* ==Amount== *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Fees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidFees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueFees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Concession)
                    </td>

                    <td>
                        @if (_FeesType == "DUE")
                        {
                            @Html.ActionLink(" Payment", "FeesCollection", new { _BillId = item.BillId }, new { @class = "btn btn-primary  fa fa-cart-plus" })

                        }
                        @if (_FeesType == "PAID")
                        {
                            @Html.ActionLink(" Restore", "FeesCollection", new { _BillId = item.BillId }, new { @class = "btn btn-primary  fa fa-refresh" })

                        }

                        @* ==Student Fees Details== *@
                        @Ajax.ActionLink("Details", "StudentFeesDetails", "FeesBill",  new { RegisterNo = item.RegisterNo },
                        new AjaxOptions
                        {
                            UpdateTargetId= "dv_Std_feesDetaiUpdate",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET" ,
                            LoadingElementId= AjaxFormIStruct.AjaxBeginFormLoading
                        }, new { @class = "ui-button ui-widget ui-corner-all" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>



</div>

<!-- Student Fees Details Mofdal Update-->
<div id="dv_Std_feesDetaiUpdate"></div>
<!-- Student Fees Details Mofdal Update-->

<!-- page script -->
<script>
        $(function () {
            $('#@tbl_Name').DataTable()
            });

</script>