﻿@model SP.Data.Models.FeesConfig

@{
    /**/

    ViewBag.Title = "Fees Configaration";
    ViewBag.Icon = "fa fa-cogs";
    ViewBag.Description = "Fees Configaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card ">
            <div class="card-header card-info card-outline">
                <h3 class="card-title"><i class="fa fa-cogs"></i> Fees</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0 mx-3">
                <div class="row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaperSize, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.PaperSize, (SelectList)ViewBag.PaperSizes, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PaperSize, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsMonthly, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsMonthly, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsMonthly, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsAuditNonAudit, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsAuditNonAudit, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsAuditNonAudit, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsdateShow, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsdateShow, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsdateShow, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPlaceShow, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsPlaceShow, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsPlaceShow, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsPageNoShow, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsPageNoShow, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsPageNoShow, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsFooterEndOfPage, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.IsFooterEndOfPage, new { @class = "w3-check" })
                            @Html.ValidationMessageFor(model => model.IsFooterEndOfPage, "", new { @class = "text-danger" })
                        </div>
                    </div>

                  
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary pull-right" />
                        </div>
                   
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    }
</div>

