﻿@using SP.Data.Models
@using SP.Web.Infrastructure.Layout
@using SP.Data.Academic
@using System.Data.Entity
@using System.Threading.Tasks 

@{
    ViewBag.Title = "Academics";
    ViewBag.Description = "Academics Details";
    ViewBag.Icon = "fa fa-mortar-board";
    Layout = LayoutIStruct._AdminPanelLayout;

    //Current Session
    SP.Data.session.SessionUtils sessionUtils = new SP.Data.session.SessionUtils();
    ClassTools classTools = new ClassTools();

    Task.Run(async () =>
    {
        var data = await classTools.GetClassAsync(sessionUtils._gSessionIdVToX, sessionUtils._gSessionIdXIToXII);
        ViewBag.ClasseslList = data;
    }).Wait();
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @RenderBody()
        </div>

        <div class="col-md-8">
            <div class="card card-warning  card-outline">
                <div class="card-header">
                    <h3 class="card-title"><i class=""></i>  Class List</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                SlNo
                            </th>
                            <th>
                                ClassName
                            </th>
                            <th>
                                CategoryName
                            </th>
                            <th>
                                Session
                            </th>
                            <th></th>
                        </tr>
                        @{
                            var Clslist = (IEnumerable<Class>)ViewBag.ClasseslList;
                            if (Clslist != null && Clslist.Count() > 0)
                            {
                                foreach (var item in Clslist)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SlNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClassName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Class_Category.CategoryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Session.VToX, new { @class = "bg-info" })
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "CreateAndEdit", new { id = item.Id }, new { @class = "fa fa-edit" })
                                        </td>
                                    </tr>
                                }
                            }
                        }


                    </table>
                </div>


                <div class="card-footer">

                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </div>
</div>