﻿
@using SP.Web.Infrastructure.Layout
@using SP.Data.Academic.Tools
@using SP.Web.Components.Academic;
@using SP.Web.Infrastructure.ControllerStructure.Academic
@using System.Data.Entity
@using System.Threading.Tasks
@{
    ViewBag.Title = "Academics";
    ViewBag.Description = "Academics Details";
    ViewBag.Icon = "fa fa-mortar-board";
    Layout = LayoutIStruct._AdminPanelLayout;


}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @RenderBody()
        </div>

        <div class="col-md-8">
            @{
               Html.RenderAction(SectionIStruct.SectionView.ActionName, SectionIStruct.SectionView.ControllerName);
            }
           

        </div>
       
    </div>
</div>